RewriteEngine On

# Rewrite non-existent file requests to .php files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Rewrite URLs with a query parameter named "page"
RewriteRule ^a/([^/]+)$ a.php?page=$1 [QSA,NC,L]
