RewriteEngine On

# Rewrite non-existent file requests to .php files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Rewrite notification URLs
RewriteRule ^notification/use$ notification?notification=noti_use [L]
RewriteRule ^notification/bookings$ notification?notification=noti_bookings [L]

# Rewrite specific URLs
RewriteRule ^project/cart$ /project/cart/home.php [L]