@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: gray;
}

.mainpage {
  position: relative;
  display: flex;
}

.sidebar {
  width: 15vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  padding: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar .head {
  display: flex;
  gap: 20px;
}

.menu ul li {
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu ul li a:hover,
.menu ul li a-active {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li .icon {
  font-size: 16px;
}

.menu ul li .text {
  flex: 1;
}

.menu ul li .arrow {
  font-size: 14px;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.menu .sb-sub-ul a {
  /* visibility: visible; */
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid #ceb9b9;
}

/* .menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 14px;
} */

/* Dashborad */
.dashborad {
  position: relative;
  background-color: #d7dbdd;
  width: 90%;
  min-height: 100vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 10px;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 3.5vw;
  background: linear-gradient(125deg, #800080, #ccccff);
  border-radius: 15px 15px 0px 0px;
}

.nav-container {
  max-width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* user-cart */
.user-cart {
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  background-color: white;
  transition: all 0.1s;
}

.user-cart:hover {
  border: 1px solid black;
}

.user-cart a {
  display: flex;
  align-items: center;
  color: black;
}

.user-cart .icon-cart {
  font-size: 16px;
  margin-right: 10px;
}

/* Not LogIn */
.not-login {
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  background-color: white;
  transition: all 0.1s;
}

.not-login:hover {
  border: 1px solid black;
}

.not-login a {
  display: flex;
  align-items: center;
  color: black;
}

.not-login .ilogion {
  font-size: 20px;
  margin: 0px 5px;
}

/* User-Info */
.profile {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border: 2px solid gray;
  background-color: #d7dbdd;
  border-radius: 15px;
  padding: 2px;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transition: opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}
.modal.active {
  position: fixed;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.madal-box {
  background-color: white;
  border-radius: 12px;
  padding: 36px;
  max-width: 400px;
  width: 100%;
  max-height: 678px;
  display: block;
}
.modal-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 3px solid gray;
}
.modal-head .close {
  font-size: 18px;
  color: #b4b4b4;
  cursor: pointer;
  transition: all 0.2 ease-in;
}
.modal-head .close:hover {
  color: #333;
}
.user-dropdown .username {
  color: #757575;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Nav */

.head-name {
  font-size: 26px;
  color: white;
}

.section-2 {
  display: flex;
}

/* ส่วนของวัน เวลา */
.section-2_1 {
  width: 22%;
  background-color: #f6f6f6;
  margin: 15px;
  border-radius: 15px;
}

.section-2_2 {
  width: 75%;
  background-color: #f6f6f6;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}

.info1-date {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin: 25px 0px;
}
.info-time,
.date {
  margin-bottom: 20px;
}
.date,
.time {
  padding-left: 20px;
}

/* ส่วนแสดงข้อมูล */
.all-info {
  font-size: 20px;
  margin-left: 25px;
}

.display-system {
  background-color: #f6f6f6;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}

.display-system-table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}

.display-system-table th {
  font-size: 18px;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
  letter-spacing: 0.1rem;
  vertical-align: top;
}

tbody td {
  margin: 0px;
  font-weight: normal;
  text-align: center;
  border-bottom: 2px solid #eaeded;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}

tr:hover td {
  background-color: #d0d3d4;
  transition: all 0.3s ease-in-out;
}

/* IMG */
.img {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

img {
  width: 130px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.icon {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 3px 0px;
}

button.out-of {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(201, 53, 53);
  transition: all 0.3s;
  color: #fff;
  width: 200px;
  cursor: pointer;
}

button.use-it {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  color: #fff;
  width: 200px;
  cursor: pointer;
}

button.use-it:hover {
  background-color: rgb(0, 86, 199);
}

button.reserve-it {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #50c878;
  transition: all 0.3s;
  color: #fff;
  width: 200px;
  cursor: pointer;
  margin-top: 5px;
}

button.reserve-it:hover {
  background-color: #008000;
}

/* Footer */
footer {
  width: 100%;
  height: 300px;
  padding: 20px 100px;
  background-color: #fff;
}

footer .container_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .container_1 .footer h2 {
  position: relative;
  color: #333;
  font-weight: 300;
  margin-bottom: 10px;
}

footer .container_1 .footer p {
  color: #555;
}

footer .container_1 li.footer-about2 {
  margin-top: 10px;
}

footer .container_1 li.footer-about2 i {
  margin-right: 15px;
  color: blue;
  font-size: 36px;
}

.footer-link {
  margin-left: 50px;
}

.footer-link ul li a {
  display: inline-block;
  margin-top: 15px;
  color: #555;
  transition: 0.5s;
}

.footer-link ul li a:hover {
  transform: scale(1.2);
  color: black;
}

.copyright {
  width: 100%;
  border-top: 1px solid gray;
  background-color: #f5f2f2;
  padding: 10px 0px;
  text-align: center;
}

/* Status */
.status {
  display: flex;
  justify-content: center;
}

.status .ready-to-use {
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #50c878;
}

.status .moderately {
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #fcf55f;
}

.status .not-available {
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #d22b2b;
  color: white;
}

/* ความกว่้าง */
/* td.product-name {
  color: #008000;
  width: 30%;
  padding: 0px 30px;
  word-wrap: break-word;
} */
