@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  text-decoration: none;
}
div.header {
  background-color: #d0d3d4;
  font-size: 28px;
  text-align: center;
}
.main-cart {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.table {
  margin: 24px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.cart {
  width: 1300px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/* ส่วนหัวของตาราง */
.head {
  display: flex;
  justify-content: space-between;
}
.head-name {
  font-size: 24px;
  font-weight: 500;
  padding-left: 28px;
  padding-top: 6px;
}
.btn-select {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(0, 102, 255);
  padding: 8px 12px;
  margin-top: 6px;
  margin-right: 28px;
  color: white;
  transition: all 0.3s;
}
.btn-select:hover {
  background-color: rgb(0, 69, 173);
}
.cart-data {
  width: 100%;
  border-collapse: collapse;
}
.cart-data th {
  background-color: #aeb6bf;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #eaeded;
}
.cart-data tr th {
  padding: 10px 0px;
  letter-spacing: 0.1rem;
  vertical-align: top;
}
tr.row td {
  border: 2px solid white;
}
tr.row td {
  font-weight: normal;
  text-align: center;
  border-bottom: 2px solid #eaeded;
}
img {
  width: 140px;
  height: 100px;
  object-fit: fill;
  border-radius: 20px;
}
input[type="number"] {
  width: 72px;
  height: 36px;
  text-align: center;
  outline: none;
  font-weight: bold;
}
.product-name {
  font-size: 24px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  transition: all 0.3s ease-in;
}
tr:hover td {
  background-color: #d0d3d4;
  transition: all 0.3s ease-in;
}

/* Input Date */
.date {
  display: flex;
  justify-content: center;
}
label.date {
  font-size: 18px;
  align-items: center;
}
input[type="date"] {
  margin-left: 26px;
  padding: 4px 12px;
  background-color: #e2e7e9;
  color: black;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
}

/* Name */
.firstname {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 25px;
}
/* Button */
.fa {
  margin: 0px 12px;
}

td .btn-delete {
  width: 80%;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(238, 64, 64);
  padding: 8px 12px;
  color: white;
  transition: 0.3s;
}
td .btn-delete:hover {
  background-color: rgb(197, 0, 0);
}

/* Button Section */
.btn-section {
  display: flex;
  justify-content: center;
  margin: 24px 0px;
}
.submit {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(23, 139, 23);
  padding: 6px 12px;
  font-size: 18px;
  width: 14rem;
  color: white;
  transition: all 0.3s;
  margin-right: 16px;
}
.submit:hover {
  background-color: rgb(0, 102, 0);
}
.delete-all {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(201, 53, 53);
  padding: 6px 12px;
  font-size: 18px;
  width: 14rem;
  color: white;
  transition: all 0.3s;
  margin-left: 16px;
}
.delete-all:hover {
  background-color: rgb(167, 6, 6);
}
