@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  text-decoration: none;
}
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-page {
  position: relative;
  background-color: white;
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.register-page .head {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
}
.form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.form .input-box input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  color: #707070;
}
.form .col {
  display: flex;
  column-gap: 15px;
}

/* Responsive */
@media (max-width: 500px) {
  /* ปรับแต่งลักษณะสำหรับหน้าจอที่มีความกว้างไม่เกิน 500px */
  .form .col {
    flex-wrap: wrap;
  }
}
