@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
}
#B {
  font-family: Sarabun-bold;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Head */
.container {
  width: 1300px;
  padding: 10px;
  margin-top: 30px;
}

.head-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}

.head-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 5px;
}

.head-name {
  font-size: 24px;
}
/* ADD_PAGE */
.add_MET {
  width: 750px;
  margin: 3rem auto;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.add_MET_section_header {
  font-size: 1.5rem;
  padding: 0.7rem 1.2rem;
  border-bottom: 1px solid #ddd;
}
.add_MET_section_form {
  padding: 0rem 1.2rem;
  padding-bottom: 1rem;
}
.add_MET .add_MET_section_form {
  display: none;
}
.add_MET .add_MET_section_form.active {
  display: block;
}
.add_MET .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
}
.add_MET .pagination .number {
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  background-color: #00aaee;
  color: #fff;
  font-size: 15px;
}
.add_MET .pagination .bar {
  background-color: #00aaee;
  width: 50px;
  height: 4px;
  text-align: center;
  border-radius: 5px;
}
.add_MET .pagination .active ~ div {
  background-color: #ddd;
  color: #111;
}
.add_MET_section_form .input_box {
  width: 100%;
}
/* input IMG */
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgInput {
  position: relative;
  width: 60%;
  height: 240px;
  background-color: rgb(212, 208, 208);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgInput .upload {
  font-size: 54px;
  margin-bottom: 24px;
}

.imgInput img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.upload-tip {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: red;
  margin-top: 8px;
}

.btn_img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.choose-file {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(30, 124, 248);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.choose-file:hover {
  background-color: rgb(0, 86, 199);
}
.file_chosen_img {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

/* inPut Form */
.input_box {
  width: 100%;
  margin-top: 0.875rem;
}
.input_box span {
  display: block;
  margin-bottom: 0.25rem;
  padding-left: 0.3rem;
}

.input_box input,
.col input,
.col select {
  width: 100%;
  font-size: 0.85rem;
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  color: #707070;
}

.input_box input:focus {
  border: 1px solid rgb(0, 119, 255);
}

.col select:focus {
  border: 1px solid rgb(0, 119, 255);
}

.col {
  display: flex;
  column-gap: 15px;
}
.add_MET_footer_1 {
  display: flex;
  justify-content: end;
  margin-top: 0.75rem;
}
.add_MET_footer_2 {
  display: flex;
  justify-content: start;
  margin-top: 0.75rem;
}
.add_MET_footer_1 .btn_next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  background-color: rgb(30, 124, 248);
  padding: 0.5rem 1.2rem;
  font-size: 0.875rem;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
}
.add_MET_footer_1 .btn_next:hover {
  background-color: rgb(0, 86, 199);
}
.add_MET_footer_2 .btn_prev {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  background-color: rgb(30, 124, 248);
  padding: 0.5rem 1.2rem;
  font-size: 0.875rem;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
}
.add_MET_footer_2 .btn_prev:hover {
  background-color: rgb(0, 86, 199);
}

/* Button */
.btn {
  border-top: 1px solid gray;
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
}

.btn button[type="submit"] {
  outline: none;
  border: none;
  margin-top: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  width: 48%;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
}

.btn button[type="submit"]:hover {
  background-color: rgb(0, 110, 255);
}

.btn button.reset {
  outline: none;
  border: none;
  margin-top: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  width: 48%;
  color: #fff;
  cursor: pointer;
  background-color: #e63446;
  transition: all 0.3s;
}

.btn button.reset:hover {
  background-color: #c50014;
}

/* ส่วนแสดงข้อมูล */
.management_grid {
  width: 1350px;
  margin: 0 auto;
  padding: 0 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 5px;
}
.management_grid_content {
  position: relative;
  height: 500px;
  border: 1px solid gray;
  color: #ffffff;
  color: #121212;
  color: #cce7d0;
  border-radius: 7px;
  overflow: hidden;
}
/* IMG */
.management_grid_header {
  height: 55%;
}
.management_grid_header .content_img {
  width: 100%;
  height: 100%;
}
.content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.management_grid_content_body {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #000;
  flex: 1 1 auto;
}
.details_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
}
.img_details{
  height: 400px;
  width: 400px;
}
.img_details img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.content_status_details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}
.content_status_details .ready-to-use {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #2d794b;
  background-color: #b6fdd4;
}

.content_status_details .moderately {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #e6a611;
  background-color: #f8eec4;
}

.content_status_details .not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  background-color: #d22b2b;
  color: white;
}
.management_grid_content_footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.details_btn {
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: transparent;
  padding: 0.3rem;
}
button.Edit {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  gap: 5px;
  padding: 10px 0px;
  border-radius: 5px;
  width: 170px;
  background-color: #ffcc00;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s;
}

button.Edit:hover {
  background-color: rgb(252, 158, 28);
}

.Delete {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  gap: 5px;
  padding: 10px 0px;
  border-radius: 5px;
  width: 170px;
  background-color: rgb(201, 53, 53);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.Delete:hover {
  background-color: rgb(167, 6, 6);
}
