@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* HEADER */
header {
  background-color: aliceblue;
  text-align: center;
  font-size: 36px;
}
/* Section Head */
.container {
  width: 1300px;
  padding: 10px;
  margin-top: 30px;
}
.head-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
.head-name {
  font-size: 24px;
}
/* Button */
.add {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(54, 141, 255);
  padding: 8px 12px;
  color: white;
  transition: all 0.3s;
  margin-bottom: 10px;
}
.add:hover {
  background-color: rgb(0, 119, 255);
}
.icon {
  font-size: 12px;
  margin-right: 5px;
}
/* Modal */
.modal-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transition: opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}
.modal-popup.active {
  position: fixed;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.modal-head .close {
  font-size: 18px;
  color: #b4b4b4;
  cursor: pointer;
  transition: all 0.2 ease-in;
}
.modal-head .close:hover {
  color: #333;
}
.modal-box {
  background-color: white;
  border-radius: 12px;
  padding: 36px;
  max-width: 540px;
  width: 100%;
  max-height: 768px;
  overflow-y: auto;
}
.modal-box .input-form {
  width: 100%;
}
.modal-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 3px solid gray;
}
/* input IMG */
.Img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgInput {
  position: relative;
  width: 60%;
  height: 240px;
  background-color: rgb(212, 208, 208);
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgInput .upload {
  font-size: 54px;
  margin-bottom: 24px;
}
.imgInput img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}
.upload-tip {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: red;
  margin-top: 8px;
}
.select-image {
  margin-top: 8px;
  display: block;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgb(30, 124, 248);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.select-image:hover {
  background-color: rgb(0, 86, 199);
}
/* inPut Form */
.input-form .input-box {
  width: 100%;
  margin-top: 10px;
}
.input-form .input-box input,
.col input,
.col select {
  width: 100%;
  font-size: 13px;
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  color: #707070;
}
.input-form .input-box input:focus {
  border: 1px solid rgb(0, 119, 255);
}
.col select:focus {
  border: 1px solid rgb(0, 119, 255);
}
.col {
  display: flex;
  column-gap: 15px;
}
/* Button */
.btn {
  border-top: 1px solid gray;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.btn button[type="submit"] {
  outline: none;
  border: none;
  margin-top: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  width: 48%;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
}
.btn button[type="submit"]:hover {
  background-color: rgb(0, 110, 255);
}
.btn button.cancel {
  outline: none;
  border: none;
  margin-top: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  width: 48%;
  color: #fff;
  cursor: pointer;
  background-color: #e63446;
  transition: all 0.3s;
}
.btn button.cancel:hover {
  background-color: #c50014;
}
/* Display */
.display-crud {
  width: 1300px;
  padding: 10px;
}
.crud-display-table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}
.crud-display-table th {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
  letter-spacing: 0.1rem;
  vertical-align: top;
}
tbody td {
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #eaeded;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}
tr:hover td {
  background-color: #d0d3d4;
  transition: all 0.3s ease-in-out;
}

/* IMG */
.img {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
td.process {
  width: 170px;
}
/* Button */
.btn-process {
  display: grid;
  justify-content: center;
}
.icon {
  font-size: 16px;
}
.Edit {
  outline: none;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  width: 170px;
  background-color: #ffcc00;
  transition: all 0.3s;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
}
.Edit:hover {
  background-color: rgb(252, 158, 28);
}

.Delete {
  outline: none;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: rgb(201, 53, 53);
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
}
.Delete:hover {
  background-color: rgb(167, 6, 6);
}
