@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  text-decoration: none;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 568px;
  max-height: 1250px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.display {
  padding: 20px;
  border-radius: 8px;
}
h1 {
  margin-bottom: 5px;
  border-bottom: 2px solid gray;
}
/* disable */
.product_key {
  cursor: not-allowed;
}
/* Img */
.Img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgInput {
  position: relative;
  width: 220px;
  height: 200px;
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgInput img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}
.upload-tip {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: red;
  margin-top: 8px;
}
.select-image {
  width: 100%;
  margin-top: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(30, 124, 248);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.select-image:hover {
  background-color: rgb(0, 110, 255);
}
/* ส่วนของ Input */
.input-box {
  width: 100%;
  margin-top: 10px;
}
.input-box label {
  font-size: 17px;
}
.input-box input {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  color: #707070;
  font-size: 15px;
}
.input-box input:focus,
.col select:focus {
  border: 1px solid rgb(0, 119, 255);
}
.col input,
.col select {
  width: 100%;
  font-size: 15px;
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  color: #707070;
}
.col {
  display: flex;
  column-gap: 15px;
}

/* Button */
.btn-section {
  border-top: 2px solid gray;
  margin-top: 20px;
}
.btn {
  width: 100%;
  display: grid;
}
input.submit {
  outline: none;
  border: none;
  margin-top: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
input[type="submit"]:hover {
  background-color: rgb(0, 110, 255);
}
button.cancel {
  outline: none;
  border: none;
  margin-top: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #e63446;
  transition: all 0.3s;
  width: 100%;
}
button.cancel:hover {
  background-color: #c50014;
}
