.approve_section {
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto 1rem auto;
}

.header_approve_section {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 0.8rem;
  gap: 0.75rem;
  font-size: 1.05rem;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}

.approve_btn {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  margin-bottom: 1rem;

  .btn_approve_01,
  .btn_approve_02,
  .btn_approve_03{
    color: #000;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: transparent;
    transition: all 0.3s;
    background-color: #f2f2f2;
  }

  .btn_approve_01 {
    border-radius: 6px 0 0 6px;
  }

  .btn_approve_02 {
    border-radius: 0 0 0 0;
  }

  .btn_approve_03 {
    border-radius: 0 6px 6px 0;
  }

  .active {
    font-family: Sarabun-bold;
    border: 1px solid #01bdb6;
    background-color: #dffffd81;
  }
}
/* <---------------------  APPROVE PAGE ------------------> */
.viewLog_request_PAGE {
  width: 100%;
  height: 100%;

  .viewLog_request_MAIN {
    border-radius: 5px;
    border: 1px solid #d0d7de;
    overflow: hidden;

    .viewLog_request_header {
      font-size: 1.05rem;
      color: #1f2328;
      padding: 0.4rem 1rem;
      background-color: #f6f8fa;
      border-bottom: 1px solid #d0d7de;
    }

    .viewLog_request_body {
      .viewLog_request_content {
        font-size: 0.95rem;
        border-bottom: 1px solid #d0d7de;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem;

        .list_name {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 40%;

          a {
            color: #1f2328;
          }
        }
        .reservation_date {
          width: 20%;
        }
      }
    }
  }
}

.viewLog_request_Details {
  width: 100%;
  height: 100%;

  .viewLog_request_MAIN {
    border-radius: 5px;
    border: 1px solid #d0d7de;

    .viewLog_request_header {
      font-size: 1.05 rem;
      color: #1f2328;
      padding: 0.5rem 1rem;
      background-color: #f6f8fa;
      border-bottom: 1px solid #d0d7de;
    }

    .viewLog_request_body {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      overflow: hidden;

      .viewLog_request_content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.25rem 1rem;
      }
    }
  }
}

.approve_not_found_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.approve_not_found_section i {
  font-size: 4rem;
  color: #000000;
  margin: 1rem 0;
}
.approve_not_found_section span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.approve_table_section {
  margin-top: 1.5rem;
}
.approve_table_data {
  border-collapse: collapse;
  width: 100%;
}
.approve_table_header {
  font-size: 1rem;
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
}
thead tr {
  border: 1px solid #bdbdbd;
}
thead th {
  font-size: 1.15rem;
  text-align: start;
  border-left: none;
  border-right: none;
  border-top: 1.5px solid #bdbdbd;
  border-bottom: 1.5px solid #bdbdbd;
  background-color: #e7e7e7;
  padding: 0.6rem 0;
}
.open_expand_row {
  padding-right: 0.5rem;
}
.expandable_row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 0.7rem;
}
.approve_table_data .s_number {
  width: 15%;
  padding-left: 0.75rem;
  background-color: #e9e9e9;
}
.approve_table_data .name_use {
  width: 17.5%;
}
.approve_table_data .item_name {
  width: 25%;
}
.approve_table_data .borrow_booking {
  width: 15%;
}
.approve_table_data .return {
  width: 15%;
}
.approve_table_data .approval {
  width: 7.5%;
}
tbody tr {
  font-size: 0.975rem;
  border: 1px solid #dbdbdb;
  border-bottom: 1.5px solid #bdbdbd;
  background-color: #ffffff;
  & td {
    padding: 1rem 0;
  }
}
tbody tr:nth-child(even) {
  background-color: #ffffff80;
}
.sn {
  padding-left: 1rem;
}
.approve_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  & .confirm_approve {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #c1f2b0;
    border: 1px solid green;
    color: green;
    transition: all 0.3s;

    &:hover {
      background-color: #aeff94;
    }
  }

  & .cancel_approve {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: red;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background-color: #a30000;
      color: #ffffff;
    }
  }
  & i {
    font-size: 1rem;
  }
}
.submit {
  border: 1px solid #dbdbdb;
  outline: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: all 0.3s;
  &:hover {
    background-color: #f1efef;
    border: 1.5px solid #bbbbbb;
  }
}
