.approve_section {
  width: 100%;
  max-width: 1000px;
  margin: 2.5rem auto;
}

.header_approve_section {
  width: 100%;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  border-radius: 5px;
  color: #1f2328;
  display: flex;
  align-items: center;
  padding: 0.3rem 1.2rem;
  gap: 1rem;

  .historyBACK {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}

.breadcrumb {
  font-size: 0.925rem;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: #a8a8a8;
    margin-right: 5px;

    &:last-child {
      color: #007bff;
      font-family: Sarabun-bold;
    }
  }

  span {
    margin: 0 5px;
    color: #a8a8a8;
  }
}

.approve_btn {
  margin-top: 0.75rem;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}

.approve_btn a {
  padding: 10px 15px;
  text-decoration: none;
  color: #666;
  font-size: 0.925rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.approve_btn a:hover {
  color: #333; /* Darker gray text on hover */
}

.approve_btn a.active {
  font-family: Sarabun-bold;
  color: #333; /* Darker gray text */
  border-bottom: 2px solid #000; /* Black underline for active link */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition for color and border */
}

/* <---------------------  APPROVE PAGE ------------------> */
.approve_table_section {
  width: 100%;
  margin: 1rem 0;
}
.approve_header {
  padding: 10px;
  font-size: 0.925rem;
}
.approve_table {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.approveData {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  overflow: hidden;
}

.approveheader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 1.2rem;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
  color: #1f2328;

  i {
    color: #0056b3;
  }
}
.approve_table_row {
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.approval {
  margin-top: 1rem;
}
.confirm_approve {
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  font-size: 0.85rem;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.confirm_approve:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

@keyframes movingY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.confirmApprovePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.confirmApprove_content {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #fff;
  border-radius: 12px;
  animation: movingY 0.3s;
  z-index: 10000;
}

.confirmApprovePopup_sec01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & i {
    margin-top: 2rem;
    font-size: 3rem;
    color: red;
  }

  & span {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}

.confirmApprovePopup_sec02 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .confirm {
    font-size: 0.85rem;
    outline: none;
    border: none;
    padding: 0.5rem 1.25rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #28a745;
    background-color: #28a745;
    transition: all 0.3s;

    &:hover {
      background-color: #218838;
      border-color: #1e7e34;
    }
  }
  .cancelApprove {
    font-size: 0.85rem;
    outline: none;
    border: none;
    padding: 0.5rem 1.25rem;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #d0d7de;
    transition: all 0.3s;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination .prev,
.pagination .next {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 5px;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-color: #0056b3;
}

.viewLog_request_Details {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .viewLog_request_MAIN {
    border-radius: 5px;
    border: 1px solid #d0d7de;

    .viewLog_request_header {
      font-size: 1.05 rem;
      color: #1f2328;
      padding: 0.5rem 1rem;
      background-color: #f6f8fa;
      border-bottom: 1px solid #d0d7de;
    }

    .viewLog_request_body {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      overflow: hidden;

      .viewLog_request_content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.25rem 1rem;
      }
    }
  }
}

.approve_not_found_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.approve_not_found_section i {
  font-size: 4rem;
  color: #000000;
  margin: 1rem 0;
}
.approve_not_found_section span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
