.bookingList {
  width: 100%;
  max-width: 1200px;
  margin: 2.5rem auto;
}
.bookingList_header {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 0.8rem;
  gap: 0.75rem;
  font-size: 1.1rem;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}
.approve_not_found_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.approve_not_found_section i {
  font-size: 4rem;
  color: #000000;
  margin: 1rem 0;
}
.approve_not_found_section span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.bookingList_Content {
  padding: 0 0.7rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  margin: 1rem auto;
}

.bookingList_body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #f6f8fa;
  padding: 16px;
  margin: 8px 0;
  border: 1px solid #d1d5da;
  border-radius: 6px;

  .icon_bookingList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0969da;
      font-size: 1.5rem;
    }
  }
  .bookingList_Details {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.bookingList_Details {
  display: flex;
  flex-direction: column;
}

.serial_number {
  font-weight: 600;
  color: #24292e;
}

.subtext {
  color: #586069;
  margin-top: 4px;
}

.status {
  margin-top: 8px;
}

.status_pending {
  color: #d73a49;
  font-family: Sarabun-Bold;
}

.status_approved {
  color: #28a745;
  font-family: Sarabun-Bold;
}
