/* Footer */
footer {
  width: 100%;
  height: 250px;
  background-color: #cc9090;
}

.container_1 {
  width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.footer_about {
  display: block; /* Ensure block display */
  color: #333;
}

.footer-link {
  margin-left: 50px;
}

.footer-link ul li a {
  display: inline-block;
  margin-top: 15px;
  color: #555;
  transition: 0.5s;
}

.footer-link ul li a:hover {
  transform: scale(1.2);
  color: black;
}

.copyright {
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #f5f2f2;
  padding: 10px 0px;
  text-align: center;
}
