.footer {
  width: 100%;
  max-width: 1350px;
  height: 200px;
  margin: 0 auto;
  margin-top: 7.5rem;
  border-top: 1px solid #d0d7de;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer_about {
  display: block;
  color: #333;

  h2 {
    text-align: center;
    padding-bottom: 1rem;
  }
}
.footer-about1 {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  .footer-about_li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #707070;
    transition: 0.5s;

    &:hover {
      transform: scale(1.02);
      color: black;
    }
  }
}

.copyright {
  width: 100%;
  max-width: 1350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-top: 1px solid #d0d7de;
}

/* <----------------- FOOTER ------------> */
/* .small {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-content {
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid #d0d7de;
  padding: 0.7rem 1rem;
}
.footer-copyright {
  text-align: center;
} */
