@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
}
#B {
  font-family: Sarabun-bold;
}
.content {
  position: relative;
  display: flex;
  max-width: 1400px;
  margin: 2rem auto;
}

.content_sidebar {
  width: 15vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  padding: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content_sidebar .head {
  display: flex;
  gap: 20px;
}

.menu ul li {
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu ul li a:hover,
.menu ul li a-active {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li .icon {
  font-size: 16px;
}

.menu ul li .text {
  flex: 1;
}

.menu ul li .arrow {
  font-size: 14px;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.menu .sb-sub-ul a {
  /* visibility: visible; */
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid #ceb9b9;
}

/* .menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 14px;
} */

/* Dashborad */
.content_area {
  width: 95%;
  min-height: 100vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 10px;
}
/* Nav */
.content_area_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
}
.content_area_nav .section_1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.content_area_nav .section_2 {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
/* user-cart */
.section_1_btn_1 {
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  background-color: #e2f0fa;
  transition: all 0.3s;
}
.section_1_btn_1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}
.section_1_btn_2 {
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  background-color: #e2f0fa;
  transition: all 0.3s;
}
.section_1_btn_2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}
.section_1_btn_3 {
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  background-color: #e2f0fa;
  transition: all 0.3s;
}
.section_1_btn_3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}
/* ส่วนแสดงข้อมูล */
.content_area_grid {
  padding: 0 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 5px;
}
.grid_content {
  position: relative;
  height: 500px;
  border: 1px solid gray;
  color: #ffffff;
  color: #121212;
  color: #cce7d0;
  border-radius: 7px;
  overflow: hidden;
}
/* IMG */
.grid_content_header {
  height: 55%;
}
.grid_content_header .content_img {
  width: 100%;
  height: 100%;
}
.content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.grid_content_body {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #000;
  flex: 1 1 auto;
}
.content_status {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
}
.content_status .ready-to-use {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #2d794b;
  background-color: #b6fdd4;
}

.content_status .moderately {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #e6a611;
  background-color: #f8eec4;
}

.content_status .not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  background-color: #d22b2b;
  color: white;
}
.grid_content_footer {
  position: absolute;
  bottom: 0px;
  padding: 0.5rem;
  width: 100%;
}
.icon {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 3px 0px;
}

button.out-of {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(201, 53, 53);
  transition: all 0.3s;
  color: #fff;
  width: 200px;
  cursor: pointer;
}

button.use-it {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  color: #fff;
  width: 200px;
  cursor: pointer;
}

button.use-it:hover {
  background-color: rgb(0, 86, 199);
}

button.reserve-it {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #50c878;
  transition: all 0.3s;
  color: #fff;
  width: 200px;
  cursor: pointer;
  margin-top: 5px;
}

button.reserve-it:hover {
  background-color: #008000;
}

/* Footer */
footer {
  width: 100%;
  height: 300px;
  padding: 20px 100px;
  background-color: #fff;
}

footer .container_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .container_1 .footer h2 {
  position: relative;
  color: #333;
  font-weight: 300;
  margin-bottom: 10px;
}

footer .container_1 .footer p {
  color: #555;
}

footer .container_1 li.footer-about2 {
  margin-top: 10px;
}

footer .container_1 li.footer-about2 i {
  margin-right: 15px;
  color: blue;
  font-size: 36px;
}

.footer-link {
  margin-left: 50px;
}

.footer-link ul li a {
  display: inline-block;
  margin-top: 15px;
  color: #555;
  transition: 0.5s;
}

.footer-link ul li a:hover {
  transform: scale(1.2);
  color: black;
}

.copyright {
  width: 100%;
  border-top: 1px solid gray;
  background-color: #f5f2f2;
  padding: 10px 0px;
  text-align: center;
}
