@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}

@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
}

#B {
  font-family: Sarabun-bold;
}

.content {
  width: 100%;
  max-width: 1350px;
  margin: 2.5rem auto;

  .content_FLEX {
    display: flex;
    gap: 1rem;
  }
}

.menu_navigator {
  width: 22.5%;
  display: flex;
  font-size: 0.95rem;
  padding-left: 1rem;
}
.menu_navigator .sb_ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  li {
    list-style: none;
  }
}

.menu_navigator .sb_ul .group_li {
  .group_title {
    font-family: Sarabun-Bold;
    color: #1f2328;
  }
  .group_li_01 {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #757575;
    padding: 0.55rem 1rem;
    margin-top: 0.4rem;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      color: #ffffff;
      background-color: #0969da;
    }

    &.active {
      color: #ffffff;
      background-color: #0969da;
    }
  }
  .group_li_02 {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #757575;
    padding: 0.55rem 1rem;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      color: #ffffff;
      background-color: #0969da;
    }

    &.active {
      color: #ffffff;
      background-color: #0969da;
    }
  }
  .group_li_03 {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #757575;
    padding: 0.55rem 1rem;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      color: #ffffff;
      background-color: #0969da;
    }

    &.active {
      color: #ffffff;
      background-color: #0969da;
    }
  }
}

.menu_navigator .sb_ul li .link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #757575;
  padding: 0.55rem 1rem;
  border-radius: 5px;
  transition: all 0.3s;
}

.menu_navigator .sb_ul li .link:hover,
.menu_navigator .sb_ul li .link.active {
  color: #ffffff;
  background-color: #0969da;
}

/* <------------------------ DASHBAORD --------------------> */
.content_area {
  width: 100%;
  min-height: 100vh;
}
.content_area_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;

  .contentSearch {
    display: flex;
    align-content: center;

    .search {
      width: 100%;
      height: 40px;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 5px 0 0 5px;

      &:focus {
        border-color: #007bff;
      }
    }

    .search_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.8rem;
      width: 50px;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 0 5px 5px 0;
      color: #fff;
      background-color: #2176ff;
      transition: 0.2s;
      font-size: 0.95 rem;

      &:hover {
        background-color: #125cd3;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .content_area_nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.875rem;
  }
}

/* <------------------------ CONTENT GRID --------------------> */
.content_area_all {
  width: 100%;
  margin-top: 1rem;
}
.grid_content_not_found {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 6rem;
}

.content_area_grid {
  padding: 0 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 5px;
}

.grid_content {
  position: relative;
  height: 500%;
  height: 500px;
  border: 1px solid #d0d7de;
  color: #121212;
  border-radius: 7.5px;
  overflow: hidden;

  &:hover {
    border: 1px solid #0969da;
  }
}
/* IMG */
.grid_content_header {
  height: 55%;
}

.grid_content_header .content_img {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.grid_content_body {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color: #1f2328;
  gap: 0.5rem;

  .content_name {
    padding: 0.4rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.content_status_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.content_status_details .ready-to-use {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #2d794b;
  background-color: #b6fdd4;
}

.content_status_details .moderately {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #e6a611;
  background-color: #f8eec4;
}

.content_status_details .not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  background-color: #d22b2b;
  color: white;
}

/* USER INFO */
@keyframes movingY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* <------------------ DETAILS ---------------------> */
.content_details a {
  color: #000000;
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: transparent;
  padding: 0.35rem;
}
.DetailsPAGE {
  width: 100%;
  max-width: 1000px;
  margin: 2.5rem auto;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  overflow: hidden;
}

.DetailsPAGE_header {
  width: 100%;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
  color: #1f2328;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.375rem 1.2rem;
  gap: 1rem;

  .add_MET_section_header_1 {
    display: flex;
    align-items: center;
    gap: 1rem;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8f8f8f;
      background-color: #f6f8fa;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: all 0.25s;

      &:hover {
        background-color: #d0d7de;
        color: #000000;
      }
    }
  }

  .add_MET_section_header_2 {
    display: flex;
    align-items: center;

    .details,
    .maintenance_history {
      background-color: #ffffff;
      color: #000;
      font-size: 0.9rem;
      padding: 0.475rem 1rem;
      border: transparent;
      transition: all 0.3s;
    }

    .details {
      border-radius: 5px 0 0 5px;
    }

    .maintenance_history {
      border-radius: 0 5px 5px 0;
    }

    .active {
      border: 1px solid #01bdb6;
      background-color: #dffffd81;
    }
  }
}

.DetailsPAGE_content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0.7rem 1rem;

  .form_left {
    width: 100%;
    max-width: 50%;
  }
  .form_right {
    width: 100%;
    max-width: 50%;
  }
}

.Img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .imgInput {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 400px;
    background-color: rgb(212, 208, 208);
    border-radius: 5px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }
}

.input_Data label {
  display: block;
  font-family: Sarabun-bold;
  color: #2f2f2f;
  font-size: 0.95rem;
  padding-left: 0.5rem;
  margin-bottom: 0.2rem;
}
.input_Data span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 0.5rem;
  border: 1px solid #ececec;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 0.6rem;
}

.col {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.col .input_Data {
  flex: 1;
}

/* ----------------- DETAILS BTN -------------- */
.DetailsPAGE_footer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.75rem;
  padding: 0.7rem 1rem;

  .used_it {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    background-color: rgb(30, 124, 248);
    transition: all 0.3s;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: rgb(0, 86, 199);
    }
  }

  .reserved_it {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #50c878;
    transition: all 0.3s;
    color: #fff;
    width: 200px;
    cursor: pointer;
    &:hover {
      background-color: #008000;
    }
  }

  .go_back {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: rgb(238, 64, 64);
    transition: all 0.3s;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: rgb(197, 0, 0);
    }
  }
}

/* ----------------- HOME BTN ----------------- */
.grid_content_footer {
  position: absolute;
  bottom: 0px;
  padding: 0.5rem;
  width: 100%;

  & .content_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .used_it {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: 0.8rem;
      outline: none;
      border: none;
      padding: 8px 10px;
      border-radius: 5px;
      background-color: rgb(30, 124, 248);
      transition: all 0.3s;
      color: #fff;
      width: 200px;
      cursor: pointer;
    }

    & .used_it:hover {
      background-color: rgb(0, 86, 199);
    }

    & .reserved_it {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: 0.8rem;
      outline: none;
      border: none;
      padding: 8px 10px;
      border-radius: 5px;
      background-color: #50c878;
      transition: all 0.3s;
      color: #fff;
      width: 200px;
      cursor: pointer;
    }

    & .reserved_it:hover {
      background-color: #008000;
    }
  }
}

/* <-------------------- Pagination  ----------------> */

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  padding-top: 1rem;
  border-top: 1px solid #d0d7de;
}

.pagination a {
  color: black;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 3px;
}

.pagination a.active {
  background-color: #01bdb6;
  border: 1px solid #01bdb6;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
