.bookingList {
  width: 100%;
  max-width: 900px;
  margin: 2.5rem auto;
}

.bookingList_header {
  width: 100%;
  background-color: #f6f8fa;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  color: #1f2328;
  display: flex;
  align-items: center;
  padding: 0.3rem 1.2rem;
  gap: 1rem;

  .historyBACK {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}

.approve_not_found_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.approve_not_found_section i {
  font-size: 4rem;
  color: #000000;
  margin: 1rem 0;
}

.approve_not_found_section span {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.list_request {
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
  margin: 1rem 0;
}

/* สำหรับเบราว์เซอร์ Webkit เช่น Chrome, Safari */
.list_request::-webkit-scrollbar {
  width: 8px; /* ความกว้างของ scrollbar */
}

.list_request::-webkit-scrollbar-track {
  background: #f1f1f1; /* สีพื้นหลังของ track */
  border-radius: 10px; /* ทำให้ track มีมุมโค้งมน */
}

.list_request::-webkit-scrollbar-thumb {
  background: #888; /* สีของ scrollbar */
  border-radius: 10px; /* ทำให้ scrollbar มีมุมโค้งมน */
}

.list_request::-webkit-scrollbar-thumb:hover {
  background: #555; /* สีของ scrollbar เมื่อ hover */
}

.list_request_content {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.75rem;
}

.list_request_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.7rem 1.2rem;

  .list_request_header_1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.95rem;
    color: #1f2328;

    .icon {
      color: #0969da;
      font-size: 1.2rem;
    }

    .titleSN {
      padding-left: 0.75rem;
    }
  }
}

.list_request_details {
  line-height: 200%;
  height: 100%;
  height: fit-content;
  padding: 0.7rem 1.2rem;
  font-size: 0.975rem;
  color: #1f2328;
}

.subtext_1 {
  font-family: Sarabun-bold;
  font-size: 1.025rem;
}

.list_request_footer {
  display: flex;
  align-items: center;
  color: #1f2328;
  padding: 0.4rem 1.2rem;

  .cancel_request {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.7rem;
    background-color: rgb(201, 53, 53);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgb(167, 6, 6);
    }
  }

  .cancel_request i {
    font-size: 1rem;
  }
}

.status_pending {
  font-family: Sarabun-bold;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #e6a611;
  background-color: #f8eec4;
}

.status_approved {
  font-family: Sarabun-bold;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #2d794b;
  background-color: #b6fdd4;
}
