@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
@keyframes movingY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#B {
  font-family: Sarabun-bold;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Sarabun;
  box-sizing: border-box;
  overflow: hidden;
}
.sign_in_box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.toast {
  min-width: 300px;
  min-height: 60px;
  position: absolute;
  top: 40px;
  right: 35px;
  padding: .4rem 1.2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #e74c3c; /* เปลี่ยนสีเส้นขอบเป็นสีแดง */
  overflow: hidden;
  transform: translateX(calc(100% + 35px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast .toast_content {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.toast .check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #e74c3c; /* เปลี่ยนสีพื้นหลังเป็นสีแดง */
  color: #fff;
  border-radius: 50%;
}

.toast .toast_content_message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.toast .toast_content_message .text {
  font-size: ๅrem;
}

.toast .toast_content_message .text-2 {
  font-size: .9rem;
}

.toast .close {
  font-size: .75rem;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ddd;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #e74c3c; /* เปลี่ยนสีพื้นหลังเป็นสีแดง */
}

.toast.active {
  transform: translateX(0%);
}

.toast .progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

/* #0e4bf1 */

.box_content {
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  min-width: 480px;
  animation: movingY 0.5s ease;
}
.box_content_header {
  padding: 1rem 1rem;
  border-bottom: 1px solid #dbdbdb;
  font-size: 1.35rem;
}
.box_content_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.345rem;
}
.box_content_logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.box_content_content {
  display: grid;
  padding: 0.6rem 1rem;
  gap: 0.785rem;
}
.input {
  width: 100%;
  outline: none;
  border: none;
  height: 45px;
  padding: 1.25rem 0px;
  padding-left: 20px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: #e6e6e6;
}
.input:focus {
  border: 1px solid #2176ff;
}

/* Show Password */
.show_password {
  position: relative;
}

.icon_password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
.btn-section {
  padding: 0.6rem 1rem;
}
.sign-in {
  width: 100%;
  padding: 13px;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #2176ff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.sign-in:hover {
  background-color: #125cd3;
}
.box_content_other {
  display: grid;
  gap: 0.5rem;
}
.box_content_other .not_remember {
  font-size: 0.9rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  margin: 0.5rem 0.7rem;
  color: #686767;
}
.box_content_other .not_remember a {
  text-decoration: none;
  color: #686767;
}
.box_content_other .sign_up {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #000000;
}
.box_content_other .sign_up a {
  text-decoration: none;
  color: #726b6b;
}
.footer {
  font-size: 0.875rem;
  border-top: 1px solid #dbdbdb;
  text-align: center;
  color: #686767;
  padding: 0.5rem;
}

/* Alert */
.error {
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  background-color: #f8d7da; /* สีพื้นหลังแบบสีแดงอ่อน */
  border: 1px solid #f5c6cb; /* เพิ่มเส้นขอบ */
  color: #721c24; /* สีตัวอักษร */
  border-radius: 5px; /* ทำมุมของกล่องให้เป็นรูปวงกลมบางนิ้ว */
  margin: 0 1rem;
}
