@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
@keyframes movingY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#B {
  font-family: Sarabun-bold;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Sarabun;
  box-sizing: border-box;
  overflow: hidden;
}
.sign_in_box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: rgb(248, 248, 248); */
  background-color: #ffffff;
}
/* #0e4bf1 */

.box_content {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-width: 480px;
  animation: movingY 0.5s ease;
  border: 1px solid #dbdbdb;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 14px;
}
.box_content_header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #dbdbdb;
  font-size: 1.2rem;
}
.box_content_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.345rem;
}
.box_content_logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.box_content_content {
  display: grid;
  padding: 0.6rem 1rem;
  gap: 0.785rem;
}
.input {
  width: 100%;
  outline: none;
  border: none;
  height: 45px;
  padding: 1.25rem 0px;
  padding-left: 20px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: #e6e6e6;
}
.input:focus {
  border: 1px solid #2176ff;
}

/* Show Password */
.show_password {
  position: relative;
}

.icon_password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
.btn-section {
  padding: 0.6rem 1rem;
}
.sign-in {
  width: 100%;
  padding: 13px;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #2176ff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.sign-in:hover {
  background-color: #125cd3;
}
.box_content_other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box_content_other .not_remember a {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0.5rem 0.7rem;
  color: #686767;
}
.box_content_other .sign_up a {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #686767;
}
.footer {
  font-size: 0.875rem;
  border-top: 1px solid #dbdbdb;
  text-align: center;
  color: #686767;
  padding: 0.5rem;
}
/* ----------- RESET PASSWORD ------------ */
/* color: #24292e;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
.resetPassword {
  width: 100%;
  max-width: 700px;
  margin: 5rem auto;
}
.resetPassword_header {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
}
.resetPasswordMain {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  padding: 20px;
}
.resetPassword label {
  display: block;
  margin-bottom: 5px;
}
.resetPassword input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
}
.resetPasswordBTN {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.resetPasswordBTN .btn {
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #007bff; /* เปลี่ยนเป็นสีน้ำเงิน */
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.resetPasswordBTN .btn:hover {
  background-color: #0056b3; /* เปลี่ยนเป็นสีน้ำเงินเข้ม */
}

.resetPassword .link {
  font-size: 0.9rem;
  padding: 0.7rem 0rem;
  display: block;
  text-decoration: none;
  color: #0366d6;
}

.resetPassword .link:hover {
  text-decoration: underline;
}

/* Alert */
/* .error {
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb; 
  color: #721c24; 
  border-radius: 5px; 
  margin: 0 1rem;
} */
