@keyframes movingY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
}
.maintenance {
  width: 100%;
  max-width: 1300px;
  margin: 2.5rem auto;
}

.header_maintenance_section {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 0.8rem;
  gap: 0.75rem;
  font-size: 1.1rem;

  .historyBACK {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}

.maintenance_section_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  .btn_maintenance_all {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
  }

  .btn_maintenance_all a {
    padding: 10px 15px;
    text-decoration: none;
    color: #666;
    font-size: 0.925rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }

  .btn_maintenance_all a:hover {
    color: #333; /* Darker gray text on hover */
  }

  .btn_maintenance_all a.active {
    font-family: Sarabun-bold;
    color: #333; /* Darker gray text */
    border-bottom: 2px solid #000; /* Black underline for active link */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition for color and border */
  }

  .maintenance_search_header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    max-width: 30%;

    input.search {
      width: 100%;
      height: 40px;
      padding: 1rem 1rem;
      border: none;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 10px 0 0 10px;

      &:focus {
        border-color: #007bff;
      }
    }
    button.search {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.8rem;
      width: 50px;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 0 10px 10px 0;
      color: #fff;
      transition: 0.2s;
      background-color: #2176ff;
      font-size: 1rem;

      &:hover {
        background-color: #125cd3;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.approve_container {
  width: 100%;
}

.approve_row {
  border-bottom: 1px solid #ddd;
  padding: 1.2rem 1rem;
  font-size: 0.95rem;

  &:last-child{
    border-bottom: none;
  }
}

.defualt_row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serial_number,
.approve_actions {
  display: flex;
  align-items: center;
  word-break: normal;
  width: 20%;
}

.reservation_date {
  width: 25%;
}
.items {
  width: 40%;

  a {
    color: black;
  }
}

.icon {
  margin-right: 5px;
}

.text {
  font-size: 16px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.table_maintenance {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.table_maintenance.visible {
  opacity: 1;
}

.table_maintenanceContent {
  width: 100%;
  display: flex;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid #ddd;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:last-child {
    border-bottom: none;
  }
}

.table_maintenanceContent.visible {
  opacity: 1;
}

.table_maintenanceContent_00 {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.75rem;
}

.MaintenanceButton {
  display: flex;
  align-items: center;
  justify-content: end;
}

.table_maintenanceContent_1 a {
  color: #000;
  font-size: 1.055rem;
  font-family: Sarabun-bold;
  text-decoration: none;
}

.table_maintenanceContent_2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.922rem;
}

/* <------ MAINTENANCE POPUP ------> */
.maintenance_button {
  background-color: #2176ff;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.maintenance_popup {
  position: fixed; /* ใช้ fixed แทน absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* เพื่อใช้ flexbox จัดกึ่งกลาง */
}

.maintenance_popup_content {
  width: 25rem;
  min-height: 10rem;
  background-color: #fff;
  border-radius: 12px;
  z-index: 10000;
  animation: movingY 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเพื่อให้โดดเด่นขึ้น */
  transform: translateY(-10px);
  transition: transform 0.3s ease-out;
}

.maintenance_section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.1rem;
  border-bottom: 1.2px solid gray;
  font-size: 1.05rem;
  color: #000;
  font-family: Sarabun-bold;
}

.maintenance_section_header .modalClose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e6e6e6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.maintenance_section_header .modalClose:hover {
  background-color: #d1d1d1;
}

.maintenance_section_header .modalClose i {
  font-size: 12px;
  color: #525151;
}

.maintenace_popup {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.maintenace_popup label {
  display: block;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}
.maintenace_popup input[type="date"] {
  width: 100%;
  padding: 0.645rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
}
.maintenace_popup input[type="text"] {
  width: 100%;
  padding: 0.645rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
}
.maintenace_popup textarea {
  width: 100%;
  height: 110px;
  padding: 0.645rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
}
.maintenace_popup .confirm_maintenance {
  width: 100%;
  padding: 0.45rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.85rem;
  color: #fff;
  background-color: #2176ff;
  transition: transform 0.2s, background-color 0.2s;

  &:hover {
    background-color: #125cd3;
  }
  &:active {
    transform: scale(0.99);
    transform-origin: center;
  }
}

.maintenance_not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.maintenance_not_found i {
  font-size: 4rem;
  color: #bdbdbd;
  margin: 1rem 0;
}
.maintenance_not_found span {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* ------------- MAINTENANCE REPORT -------------- */
.report-button {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 1rem;

  .view_maintenance_header {
    padding-left: 1rem;
    padding-bottom: 0.345rem;
    font-size: 1rem;
  }
}

.form_1 {
  width: 100%;
}
.view_maintenance_column {
  display: flex;
  width: 100%;
  column-gap: 1rem;
}
.view_maintenance_input {
  width: 100%;
}
.view_maintenance_input label {
  display: block;
  font-size: 1.1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}
.view_maintenance_input input {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 1rem;
  color: #000;

  &:focus {
    border: 1px solid rgb(0, 119, 255);
  }
}

.view_Maintenance_btn {
  gap: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchReport {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  background-color: rgb(30, 124, 248);

  &:hover {
    background-color: rgb(0, 86, 199);
  }
}

.maintenanceReport {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d7de;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  opacity: 0; /* ค่าเริ่มต้นเป็น 0 */
  transition: opacity 0.3s ease; /* เพิ่มการเปลี่ยนแปลงอย่างราบรื่น */
  margin-bottom: 2rem;
}

.maintenanceReport.visible {
  opacity: 1; /* ค่าเปลี่ยนแปลงเป็น 1 */
}

.history_rowNOTFOUND {
  font-size: 1.2rem;
  font-family: Sarabun-bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;

  i {
    font-size: 3rem;
  }
}

.maintenanceReport_ROW {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 1.1rem;
  border-bottom: 1px solid #ddd;
  opacity: 0; /* ค่าเริ่มต้นเป็น 0 */
  transform: translateY(20px); /* เริ่มต้นด้วยการเลื่อนลง */
  transition: opacity 0.3s ease, transform 0.3s ease; /* เพิ่มการเปลี่ยนแปลงอย่างราบรื่น */

  &:last-child {
    border-bottom: none;
  }
}

.maintenanceReport_ROW.visible {
  opacity: 1; /* ค่าเปลี่ยนแปลงเป็น 1 */
  transform: translateY(0); /* ทำให้เลื่อนขึ้นไปยังตำแหน่งเดิม */
}

.history-item_1 {
  font-family: Sarabun-bold;
  font-size: 1.075rem;
}

.history-item_2 {
  font-size: 0.925rem;
}

.view_report_table_header {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;

  & .view_report_table_header_pdf {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
  }

  & .create_pdf {
    padding: 0.345rem 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #c1f2b0;
    color: green;
    transition: all 0.3s;

    &:hover {
      background-color: #aeff94;
    }
  }

  & .reset_data {
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    padding: 0.4rem 1.5rem;
    border: 1px solid #bdbdbd;
    transition: all 0.3s;

    &:hover {
      border: 1px solid #777777;
      background-color: #eeeeee;
    }
  }
}
/* ------------------- ROW 3 ----------------- */
.maintenanceDashboard {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.staff_section_2,
.staff_notification_2 {
  width: 100%;
  height: 50vh;
}

.staff_header_maintenance,
.staff_notification_maintenance_header {
  width: 100%;
  font-size: 1.05rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.staff_content_row3,
.staff_notification_body {
  width: 100%;
  height: 95% !important;
  margin-top: 0.75rem;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  overflow-y: auto;
}

/* สำหรับเบราว์เซอร์ Webkit เช่น Chrome, Safari */
.staff_content_row3::-webkit-scrollbar {
  width: 8px; /* ความกว้างของ scrollbar */
}

.staff_content_row3::-webkit-scrollbar-track {
  background: #f1f1f1; /* สีพื้นหลังของ track */
  border-radius: 10px; /* ทำให้ track มีมุมโค้งมน */
}

.staff_content_row3::-webkit-scrollbar-thumb {
  background: #888; /* สีของ scrollbar */
  border-radius: 10px; /* ทำให้ scrollbar มีมุมโค้งมน */
}

.staff_content_row3::-webkit-scrollbar-thumb:hover {
  background: #555; /* สีของ scrollbar เมื่อ hover */
}
.staff_item {
  width: 100%;
  height: 100%;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.staff_item .staff_item_btn {
  width: 100%;
  height: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  border-radius: 7.5px;
  border: 1px solid #dbdbdb;
  background-color: #f4f4f4;
  transition: background-color 0.3s;

  & i {
    font-size: 1.15rem;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}
.staff_item .staff_item_request {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 1rem;
  border-radius: 7.5px;
  color: #ffffff; /* ปรับเป็นสีขาวเพื่อให้ตัดกับพื้นหลังสีแดง */
  background-color: #dc3545; /* ใช้สี danger ของ Bootstrap 5 */
  transition: background-color 0.3s;

  & i {
    font-size: 1.15rem;
  }

  &:hover {
    background-color: #c82333; /* ใช้สีแดงเข้มเมื่อ hover */
  }
}

.staff_notification_alert {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}

.staff_notification_stack {
  display: flex;
  flex-direction: column;
}
.staff_notification_body .staff_notification_data {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 2rem;

  i {
    font-size: 1.25rem;
  }

  .detailsNoti {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .staff_notification_data_1 {
      font-size: 1rem;
      font-family: Sarabun-Bold;
    }
    .staff_notification_data_2 {
      font-size: 0.9rem;
      padding-left: 0.2rem;
    }
  }
}

.non_notification_stack {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.non_notification_stack_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.non_notification_stack_1 i {
  font-size: 4rem;
  color: #bdbdbd;
  margin: 1rem 0;
}

.approve_not_found_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.approve_not_found_section i {
  font-size: 4rem;
  color: #bdbdbd;
}

.no_maintenance {
  margin: 10rem 0;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  span {
    font-family: Sarabun-bold;
  }
}
