@keyframes movingY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
.maintenance {
  width: 100%;
  max-width: 1300px;
  margin: 3rem auto 1rem auto;
}
.header_maintenance_section {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  gap: 0.75rem;
  font-size: 1.15rem;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #fff;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      background-color: #f1efef;
      color: #000000;
    }
  }
}

.maintenance_section_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  .btn_maintenance_all {
    display: flex;
    width: 100%;
    max-width: 30%;

    .btn_maintenance_01 {
      display: flex;
      align-items: center;
      color: #000000;
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
      border-radius: 6px 0 0 6px;
      transition: all 0.3s;
      border: transparent;
      background-color: #f2f2f2;
    }

    .btn_maintenance_02 {
      display: flex;
      align-items: center;
      color: #000000;
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
      border-radius: 0 6px 6px 0;
      border: transparent;
      transition: all 0.3s;
      background-color: #f2f2f2;
    }

    .active {
      border: 1px solid #01bdb6;
      background-color: #dffffd81;
    }
  }

  .maintenance_search_header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-width: 70%;

    input.search {
      width: 40%;
      height: 40px;
      padding: 1rem 1rem;
      border: none;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 10px 0 0 10px;

      &:focus {
        border-color: #007bff;
      }
    }
    button.search {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.8rem;
      width: 50px;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 0 10px 10px 0;
      color: #fff;
      background-color: #2176ff;
      transition: 0.2s;
      font-size: 1rem;

      &:hover {
        background-color: #125cd3;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.table_maintenace {
  margin: 1rem 0;
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  border: 1px solid #bdbdbd;
}
thead {
  th {
    font-size: 1.15rem;
    text-align: start;
    border-left: none;
    border-right: none;
    border-top: 1.5px solid #bdbdbd;
    border-bottom: 1.5px solid #bdbdbd;
    background-color: #e7e7e7;
    padding: 0.75rem 0;
  }

  & .sci_name {
    max-width: 50%;
    width: 100%;
  }
  & .installation_date {
    max-width: 15%;
    width: 100%;
  }

  & .categories {
    width: 7.5%;
  }
}
.maintenance_button {
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e086;
  }
}

tbody tr {
  font-size: 0.975rem;
  border: 1px solid #dbdbdb;
  border-bottom: 1.5px solid #bdbdbd;
  background-color: #ffffff;

  td {
    padding: 1rem 0;
  }
}
.sci_name {
  padding-left: 1rem;
  a {
    color: #000;
  }
}

/* <------ MAINTENANCE POPUP ------> */
.maintenance_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.maintenance_popup_content {
  width: 25rem;
  min-height: 10rem;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  z-index: 10000;
  animation: movingY 0.3s;
}
.maintenance_section_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.1rem;
  border-bottom: 1.2px solid gray;
  font-size: 1.25rem;
  color: #000;
  font-family: Sarabun-bold;
}
.maintenance_section_header .modalClose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e6e6e6;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #d1d1d1;
  }
  & i {
    font-size: 12px;
    color: #525151;
  }
}
.maintenace_popup {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.maintenace_popup label {
  display: block;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}
.maintenace_popup input[type="date"] {
  width: 100%;
  padding: 0.645rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
}
.maintenace_popup input[type="text"] {
  width: 100%;
  padding: 0.645rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
}
.maintenace_popup textarea {
  width: 100%;
  height: 110px;
  padding: 0.645rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
}
.maintenace_popup .confirm_maintenance {
  width: 100%;
  padding: 0.45rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.85rem;
  color: #fff;
  background-color: #2176ff;
  transition: transform 0.2s, background-color 0.2s;

  &:hover {
    background-color: #125cd3;
  }
  &:active {
    transform: scale(0.99);
    transform-origin: center;
  }
}

.user_approve_not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.user_approve_not_found i {
  font-size: 4rem;
  color: #bdbdbd;
  margin: 1rem 0;
}
.user_approve_not_found span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
