.manage_user {
  width: 100%;
  max-width: 1000px;
  margin: 2.5rem auto;
}

.header_user_manage_section {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 0.8rem;
  gap: 1rem;
  font-size: 1.1rem;
  .historyBACK {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;
    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}
.user_manage_btn_section {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 1rem auto;
}

.user_manage_btn {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}

.user_manage_btn a {
  padding: 10px 15px;
  text-decoration: none;
  color: #666;
  font-size: 0.925rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.user_manage_btn a:hover {
  color: #333; /* Darker gray text on hover */
}

.user_manage_btn a.active {
  font-family: Sarabun-bold;
  color: #333; /* Darker gray text */
  border-bottom: 2px solid #000; /* Black underline for active link */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition for color and border */
}

.user_manage_search {
  display: flex;
  align-items: center;
}
input.search {
  width: 350px;
  height: 40px;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;

  &:focus {
    border-color: #007bff;
  }
}
button.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
  color: #fff;
  background-color: #2176ff;
  transition: 0.2s;
  font-size: 1rem;

  &:hover {
    background-color: #125cd3;
  }

  &:active {
    transform: scale(0.9);
  }
}

.manage_user_table_section {
  width: 100%;
  margin: 20px 0;
}

.user_manage_data {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.user_manage_data_header {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
}

.user_manage_content {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #eee;
  gap: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.user_manage_content.show {
  opacity: 1;
}

.user_manage_content_1 {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.user_manage_content_1 a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;

  i {
    font-size: 0.8rem;
    padding-left: 0.3rem;
  }
}

.user_manage_content:last-child {
  border-bottom: none;
}

.btn_user_manage_section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  margin-top: 1rem;
}
/* CSS for minimal style */
.edit_user,
.approval_user,
.ban_user,
.delete_user {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.24rem;
  position: relative;

  span {
    font-size: 0.9rem;
    transition: opacity 0.2s;
  }
}

.edit_user {
  color: #125cd3;
}

.approval_user {
  color: #28a745;
}

.ban_user {
  color: #ffa500;
}

.delete_user {
  color: #dc3545;
}

/* CSS for tooltips */
.edit_user::before,
.approval_user::before,
.ban_user::before,
.delete_user::before {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  /* ทำให้ tooltip อยู่เหนือไอคอน */
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  font-size: 0.8em;
  /* ขนาดของ tooltip */
}

.edit_user:hover::before,
.approval_user:hover::before,
.ban_user:hover::before,
.delete_user:hover::before {
  opacity: 1;
  visibility: visible;
}

@keyframes movingY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.deleteAccount {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.deleteAccount_section {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 300px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  animation: movingY 0.3s;
  z-index: 10000;
}

.deleteAccount_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.deleteAccount_sec1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & i {
    margin-top: 1rem;
    font-size: 3rem;
    color: red;
  }

  & span {
    font-size: 1.1rem;
  }
}

.deleteAccount_sec2 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  .deleteUser {
    width: 100%;
    font-size: 0.825rem;
    outline: none;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #e63446;
    transition: all 0.3s;

    &:hover {
      background-color: #c50014;
    }
  }
  .cancel_del {
    text-align: center;
    width: 100%;
    font-size: 0.825rem;
    outline: none;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.user_manage_not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.user_manage_not_found.visible {
  opacity: 1;
}

.user_manage_not_found i {
  font-size: 4rem;
  color: #000000;
  margin: 1rem 0;
}
.user_manage_not_found span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.viewLogUsers {
  width: 100%;
  height: 100%;
  margin: 1rem 0;

  .viewLogUsersMain {
    border-radius: 5px;
    border: 1px solid #d0d7de;
    overflow: hidden;

    .viewLogUsers_header {
      font-size: 1.05rem;
      color: #1f2328;
      padding: 0.5rem 1rem;
      background-color: #f6f8fa;
      border-bottom: 1px solid #d0d7de;
    }

    .viewLogUsers_body {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      overflow: hidden;
      padding: 0.7rem 1rem;

      .viewLogUsers_content {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }

      .viewLogUsers_content_LOG {
        padding: 0.7rem 1rem;
        border-bottom: 1px solid #e1e4e8;
      }

      .list_name {
        font-family: Sarabun-bold;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .reservation_date,
      .approver {
        margin-bottom: 0.25rem;
        font-size: 0.9rem;
      }

      .label {
        font-weight: 500;
        color: #1f2328;
        margin-right: 0.5rem;
        font-size: 0.9rem;
      }
    }

    .viewLogUsers_body_1 {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      overflow: hidden;

      .viewLogUsers_content {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }

      .viewLogUsers_content_LOG {
        padding: 0.7rem 1rem;
        border-bottom: 1px solid #e1e4e8;
      }

      .list_name {
        font-family: Sarabun-bold;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .reservation_date,
      .approver {
        margin-bottom: 0.25rem;
        font-size: 0.9rem;
      }

      .label {
        font-weight: 500;
        color: #1f2328;
        margin-right: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}

.user_info_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.user_info_label {
  color: #333;
  flex: 1;
}

.user_info_value {
  flex: 2;
  text-align: left;
  color: #555;
}

.viewNotfound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.wait_approved {
  font-family: Sarabun-Bold;
  color: orange;
  font-size: 0.9rem;
}

.approved {
  font-family: Sarabun-Bold;
  color: green;
  font-size: 0.9rem;
}

.n_approved {
  font-family: Sarabun-Bold;
  color: red;
  font-size: 0.9rem;
}

/*  */
/* <-------------------- Pagination  ----------------> */

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  padding-top: 1rem;
}

.pagination a {
  color: black;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 3px;
}

.pagination a.active {
  background-color: #01bdb6;
  border: 1px solid #01bdb6;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
