* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
}
#B {
  font-family: Sarabun-bold;
}
.Dashboard_Management {
  width: 100%;
  max-width: 1350px;
  margin: 2.5rem auto;
}

.header_management_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 1.2rem;

  .header_name_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;

    .historyBACK {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8f8f8f;
      background-color: #f6f8fa;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: all 0.25s;

      &:hover {
        background-color: #d0d7de;
        color: #000000;
      }
    }
  }
}

.breadcrumb {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  color: #8f8f8f;
  margin-right: 5px;
  transition: all 0.25s;

  &:hover {
    color: #007bff;
  }
}

.breadcrumb a:last-child {
  color: #007bff;
  font-family: Sarabun-bold;
}

.breadcrumb span {
  margin: 0 5px;
  color: #8f8f8f;
}
.management_section_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;

  .management_section_left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
.management_search_header {
  display: flex;
  align-items: center;

  .search_input {
    width: 350px;
    height: 37.5px;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 7px 0 0 7px;

    &:focus {
      border-color: #007bff;
    }
  }
  .search_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    width: 50px;
    height: 37.5px;
    border: none;
    outline: none;
    border-radius: 0 7px 7px 0;
    color: #fff;
    background-color: #2176ff;
    transition: 0.2s;
    font-size: 1rem;

    &:hover {
      background-color: #125cd3;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.btn_management_all {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}

.btn_management_all a {
  padding: 10px 15px;
  text-decoration: none;
  color: #666;
  font-size: 0.925rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.btn_management_all a:hover {
  color: #333; /* Darker gray text on hover */
}

.btn_management_all a.active {
  font-family: Sarabun-bold;
  color: #333; /* Darker gray text */
  border-bottom: 2px solid #000; /* Black underline for active link */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition for color and border */
}
.managementBUTTON {
  display: flex;
  align-items: center;
  font-size: 0.84rem;
  color: #1f2328;
  transition: all 0.2s ease;

  &:hover {
    color: #007bff;
  }
}

.header_num_section {
  font-size: 0.875rem;
}

/* <================== DISPLAY GRID =================> */
.management_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
  gap: 0.5rem;
  font-size: 1.1rem;
  color: #1f2328;

  i {
    font-size: 3rem;
  }
}
.management_grid {
  padding: 0 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.management_grid_row.show {
  opacity: 1;
  transform: translateY(0);
}

.management_grid_row {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: relative;
  height: 350px;
  border: 1px solid #d0d7de;
  color: #121212;
  border-radius: 7.5px;
  overflow: hidden;

  &:hover {
    border: 1px solid #0969da;
  }
}
/* IMG */
.content_img {
  height: 55%;
}

.content_img .contentBLOCK {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.content_info {
  padding: 0.2rem 1rem;
  color: #1f2328;

  .content_name {
    font-size: 1.025rem;
    font-family: Sarabun-bold;
    padding: 0.4rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.4rem;
  }
  .subcontent_name {
    display: flex;
    align-items: center;
    gap: 1rem;

    .categories,
    .amount {
      font-size: 0.895rem;
    }
  }
}
/* ส่วนแสดงข้อมูล */
.ready-to-use {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  color: #2d794b;
  background-color: #b6fdd4;
}

.moderately {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  color: #ce9000;
  background-color: #f8eec4;
}
.management_grid_content_footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.75rem;
  gap: 0.5rem;

  .detailsCRUD {
    color: #0969da;
  }
  .edit_crud_btn {
    color: #ffcc00;
  }

  .delete_btn {
    color: #e63446;
  }
}

.content_actions {
  display: flex;
  gap: 10px;
}

.action_btn {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.tooltip {
  font-size: 0.84rem;
  position: absolute;
  bottom: 100%; /* Position tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.action_btn:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* <================== ADD_PAGE =================> */
.add_MET {
  width: 100%;
  max-width: 1200px;
  margin: 2.5rem auto;
}

.add_MET_section {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #d0d7de;
}

.add_MET_PAGE {
  width: 100%;
  max-width: 800px;
  margin: 2.5rem auto;
  border-radius: 5px;
  border: 1px solid #d0d7de;
}
.add_MET_section_header {
  width: 100%;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
  color: #1f2328;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.2rem;
  gap: 1rem;

  .add_MET_section_header_1 {
    display: flex;
    align-items: center;
    gap: 1rem;

    .historyBACK {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8f8f8f;
      background-color: #f6f8fa;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: all 0.25s;

      &:hover {
        background-color: #d0d7de;
        color: #000000;
      }
    }
  }

  .add_MET_section_header_11 a {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #1f2328;
    font-family: Sarabun-bold;

    &:hover {
      color: #007bff;
    }
  }

  .add_MET_section_header_2 {
    display: flex;
    align-items: center;

    .details,
    .maintenance_history {
      color: #000;
      font-size: 0.9rem;
      padding: 0.475rem 1rem;
      border: transparent;
      transition: all 0.3s;
    }

    .details {
      border-radius: 5px 0 0 5px;
    }

    .maintenance_history {
      border-radius: 0 5px 5px 0;
    }

    .active {
      border: 1px solid #01bdb6;
      background-color: #dffffd81;
    }
  }
}
.add_MET_section_form {
  width: 100%;
  gap: 1rem;
  padding: 0.7rem 1rem;
}
.add_MET_section_form_1,
.add_MET_section_form_2 {
  width: 100%;
  min-height: 65vh;
  gap: 1rem;
  display: none;
  align-items: center;
  padding: 0rem 1rem;

  .form_left {
    width: 100%;
    height: 100%;
    max-width: 50%;
  }
  .form_right {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .formHEADER {
      font-family: Sarabun-bold;
      font-size: 1.25rem;
      padding: 0.4rem 0.8rem;
    }
  }
}
.add_MET_section_form_1.active_1 {
  display: flex;
}
.add_MET_section_form_2.active_2 {
  display: block;
}
/* input IMG */
.img,
.Img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgInput {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 400px;
  background-color: rgb(212, 208, 208);
  border-radius: 5px;
  overflow: hidden;

  .upload {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.upload-tip {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: red;
  margin-top: 8px;
}

.btn_img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  .input_Data input {
    font-size: 0.75rem;
    height: 35px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 0.7rem;
    color: #353535;
  }
}
.choose-file {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(30, 124, 248);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: rgb(0, 86, 199);
  }
}
#imgInput {
  display: none;
}
.form_right_1,
.form_right_2 {
  border-radius: 5px;
  border: 1px solid #d0d7de;
  padding: 0.7rem 0.8rem;
}
.headerNAME {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #2f2f2f;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  .serialNumber {
    font-size: 1rem;
  }
}

.DataDisplay {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 0.6rem 0;
  color: #2f2f2f;
}

.DataDisplay:last-child {
  border-bottom: none;
}

.Data1 {
  flex: 0.9;
  font-family: Sarabun-bold;
}

.Data2 {
  flex: 2;
}

.DataDisplay span {
  padding: 0 8px;
}

/* inPut Form */
.input_Data {
  width: 100%;
  margin: 0.34rem 0;
}

.input_Data label {
  display: block;
  padding-left: 0.3rem;
}

.input_Data input,
.input_Data select,
.col input,
.col select {
  width: 100%;
  font-size: 0.85rem;
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  color: #353535;
}

.col textarea {
  width: 100%;
  font-size: 0.85rem;
  position: relative;
  height: 80px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
  color: #353535;
}

.input_Data input:focus,
.input_Data select:focus,
.col select:focus,
.col textarea:focus {
  border: 1px solid rgb(0, 119, 255);
}
.col {
  display: flex;
  column-gap: 1rem;
}

.input_Data label {
  display: block;
  margin-bottom: 5px;
}

.input_Data span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 0.5rem;
  border: 1px solid #ececec;
  border-radius: 4px;
  font-size: 14px;
}

.col {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.col .input_Data {
  flex: 1;
}

/* <--------------- BUTTON section -------------------> */
.btn_footer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  padding: 0.45rem 1rem;
}

.btn_footer .submitADD {
  font-size: 0.85rem;
  outline: none;
  border: none;
  padding: 0.45rem 2rem;
  border-radius: 5px;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgb(0, 110, 255);
  }
}

.btn_footer .del_notification,
.btn_footer .go_back {
  font-size: 0.85rem;
  outline: none;
  border: none;
  padding: 0.45rem 1.25rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #e63446;
  transition: all 0.3s;

  &:hover {
    background-color: #c50014;
  }
}

@media (max-width: 600px) {
  .col {
    flex-direction: column;
  }
}
.maintenance_history {
  width: 100%;
  height: 100%;

  .maintenance_history_header {
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 1rem;

    .maintenance_history_header_name {
      font-size: 1.1rem;
    }

    .maintenance_history_header_name_1 {
      padding-left: 0.5rem;
    }
  }
}
.maintenance_entry {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .maintenance_row {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 7.5px;
    padding: 0.75rem 1rem;
  }
}
.approve_row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serial_number .open_expand_row {
  cursor: pointer;
  margin-right: 10px;
}

.expand_row {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  gap: 0.5rem;
}

.expand_row > div {
  margin-bottom: 5px;
}
.maintenance_entry_non {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <-------------------- Pagination  ----------------> */
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  padding-top: 1rem;
}

.pagination a {
  color: black;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 3px;
}

.pagination a.active {
  background-color: #01bdb6;
  border: 1px solid #01bdb6;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* <---------------------  MANAGEMENT PAGE ------------------> */
.viewLog_Management {
  width: 100%;
  max-width: 1200px;
  min-height: 50vh;
  margin: 2.5rem auto;
}

.viewLog_Management_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 0.8rem;

  .viewLog_Management_section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;

    .historyBACK {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8f8f8f;
      background-color: #f6f8fa;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: all 0.25s;

      &:hover {
        background-color: #d0d7de;
        color: #000000;
      }
    }
  }

  .viewLog_Management_section_2 a {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #1f2328;
    font-family: Sarabun-bold;

    &:hover {
      color: #007bff;
    }
  }
}

/* ------------------ MANAGEMENT DETAILS -------------- */
.viewLog_Management_Details {
  width: 100%;
  max-width: 1300px;
  margin: 1rem auto;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  overflow: hidden;

  .viewLog_Management_header {
    font-size: 1.05rem;
    color: #1f2328;
    padding: 0.5rem 1rem;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d0d7de;
  }

  .viewLog_Management_body {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;

    .viewLog_Management_content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.75rem 1rem;
      border-bottom: 1px solid #d0d7de;
    }

    .viewLog_Management_content:last-child {
      border-bottom: none;
    }
  }
}

.statusLog_1 {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: green;

  i {
    margin-right: 0.3rem;
  }
}
.statusLog_2 {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: orange;

  i {
    margin-right: 0.3rem;
  }
}
.statusLog_3 {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: red;

  i {
    margin-right: 0.3rem;
  }
}

.viewNotfound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 10rem;

  i {
    font-size: 3rem;
  }
}
