.manage_user {
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto 1rem auto;
}

.header_user_manage_section {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 0.8rem;
  gap: 1rem;
  font-size: 1.1rem;
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;
    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}
.user_manage_btn_section {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 1rem auto;
}
.user_manage_btn {
  display: flex;
  align-items: center;

  .btn_user_manage_01,
  .btn_user_manage_02,
  .btn_user_manage_03 {
    color: #000;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: transparent;
    transition: all 0.3s;
    background-color: #f2f2f2;
  }

  .btn_user_manage_01 {
    border-radius: 6px 0 0 6px;
  }

  .btn_user_manage_02 {
    border-radius: 0;
  }

  .btn_user_manage_03 {
    border-radius: 0 6px 6px 0;
  }
  .active {
    font-family: Sarabun-Bold;
    border: 1px solid #01bdb6;
    background-color: #dffffd81;
  }
}

.user_manage_search {
  display: flex;
  align-items: center;
}
input.search {
  width: 350px;
  height: 40px;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;

  &v:focus {
    border-color: #007bff;
  }
}
button.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
  color: #fff;
  background-color: #2176ff;
  transition: 0.2s;
  font-size: 1rem;

  &:hover {
    background-color: #125cd3;
  }

  &:active {
    transform: scale(0.9);
  }
}
.user_manage_data {
  width: 100%;
  border-collapse: collapse;
}

.user_manage_data_header {
  font-size: 0.95rem;
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
}
.UID {
  padding-left: 0.75rem;
}
thead {
  tr {
    border: 1px solid #bdbdbd;

    th {
      font-size: 1.2rem;
      text-align: start;
      border-left: none;
      border-right: none;
      border-top: 1.5px solid #bdbdbd;
      border-bottom: 1.5px solid #bdbdbd;
      background-color: #e7e7e7;
      padding: 0.75rem 0;

      & .UID {
        max-width: 10%;
        width: 100%;
        padding-left: 0.75rem;
      }

      & .name {
        max-width: 25%;
      }

      & .role {
        width: 100%;
        max-width: 105%;
      }

      & .agency {
        width: 100%;
        max-width: 25%;
      }

      & .created_at {
        width: 100%;
        max-width: 15%;
        background-color: #007bff;
      }

      & .status {
        width: 100%;
        max-width: 10%;
        background-color: #007bff;
      }
    }
  }
}

tbody tr {
  font-size: 0.9rem;
  border: 1px solid #dbdbdb;
  border-bottom: 1.5px solid #bdbdbd;
  background-color: #ffffff;
  & td {
    padding: 1rem 0;
  }
  a {
    color: #000;
  }
}
.open_expand_row {
  padding-right: 0.5rem;
}
.expandable_row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 0.7rem;
}

.btn_user_manage_section {
  display: flex;
  align-items: center;
  justify-content: center;

  .edit_user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    background-color: rgb(30, 124, 248);
    color: #fff;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(0, 86, 199);
    }
  }

  & .approval_user {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #50c878;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      background-color: #008000;
    }
  }

  & .ban_user {
    width: 35px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #ffcc00;
    color: #000;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(252, 158, 28);
    }
  }

  & .ban_user02 {
    width: 35px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    background-color: #ffcc00;
    color: #000;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(252, 158, 28);
    }
  }

  .delete_user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    background-color: red;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background-color: #a30000;
      color: #ffffff;
    }
  }
  i {
    font-size: 1rem;
  }
}
.del_notification_alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.del_notification_content {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 300px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  animation: movingY 0.3s;
  z-index: 10000;
}

.del_notification_popup {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.del_notification_sec01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & i {
    font-size: 5rem;
    color: red;
  }

  & span {
    font-size: 1.1rem;
  }
}

.del_notification_sec02 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  & .confirm_del {
    width: 100%;
    font-size: 0.85rem;
    outline: none;
    border: none;
    padding: 0.55rem 1.25rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #e63446;
    transition: all 0.3s;

    &:hover {
      background-color: #c50014;
    }
  }
  & .cancel_del {
    width: 100%;
    font-size: 0.85rem;
    outline: none;
    border: none;
    padding: 0.55rem 1.25rem;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.user_manage_not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.user_manage_not_found i {
  font-size: 4rem;
  color: #000000;
  margin: 1rem 0;
}
.user_manage_not_found span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.viewLogUsers {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;

  .viewLogUsersMain {
    border-radius: 5px;
    border: 1px solid #d0d7de;
    overflow: hidden;

    .viewLogUsers_header {
      font-size: 1.05rem;
      color: #1f2328;
      padding: 0.5rem 1rem;
      background-color: #f6f8fa;
      border-bottom: 1px solid #d0d7de;
    }

    .viewLogUsers_body {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      overflow: hidden;
      padding: 0.7rem 1rem;

      .viewLogUsers_content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.25rem 1rem;

        .wait_approved {
          font-family: Sarabun-Bold;
          color: orange;
        }

        .approved {
          font-family: Sarabun-Bold;
          color: green;
        }
      }

      .viewLogUsers_content_LOG {
        padding: 0.7rem 1rem;
        border: 1px solid #e1e4e8;
        border-radius: 6px;
        background-color: #f6f8fa;
        margin-bottom: 0.5rem;
      }

      .list_name {
        font-family: Sarabun-bold;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .reservation_date,
      .approver {
        margin-bottom: 0.25rem;
        font-size: 0.9rem;
      }

      .label {
        font-weight: 500;
        color: #1f2328;
        margin-right: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}
