@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
}
#B {
  font-family: Sarabun-bold;
}
.header {
  background-color: #01bdb6;
  color: white;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
}

.header_nav {
  height: 100%;
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;

  @media screen and (max-width: 1450px) {
    max-width: 100%;
    padding: 0 2rem;
  }
}

.header_nav_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}
.header_navbanner_img {
  height: 50px;
  width: 50px;

  img {
    height: 100%;
    width: 100%;
  }
}
.header_navbanner_name_00 {
  display: flex;
  flex-direction: column;

  & .header_navbanner_name-1 {
    font-size: 1.25rem;
  }

  & .header_navbanner_name-2 {
    font-size: 0.85rem;
  }
}
.header_nav_userinfo .header_userinfo_btn {
  position: relative;
  font-size: 0.875rem;
  color: #000;

  & .select {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: #ffffff;
    padding: 0.65rem 1rem;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
  }

  & .select-clicked {
    background-color: #f3f3f3;
  }

  & .select:hover {
    background-color: #f3f3f3;
  }

  & .arrow_rotate {
    transition: all 0.3s ease-in-out;
  }
  & .arrow_rotated {
    transform: rotate(180deg);
  }

  & .menu {
    list-style: none;
    padding: 0.5rem 0.7rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px #bdbdbd solid;
    border-radius: 5px;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    display: none;
    transition: 0.3s;
    z-index: 1;

    & .menu_li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.3s;
      border: 1px transparent solid;

      & a {
        color: #000;
        font-size: 0.9rem;
      }

      &:hover {
        background-color: #f3f3f3;
        border-radius: 5px;
      }
    }
  }
  & .menu-open {
    display: block;
    opacity: 1;
  }
}

.user-info-content {
  padding: 0rem 2.75rem;
  color: #000;

  & span {
    font-size: 1rem;
  }

  & div {
    padding: 0.5rem 0;
  }

  & .userid_status {
    display: flex;
    justify-content: space-between;

    & .user_id {
      text-align: center;
      font-size: 0.8rem;
      gap: 0.5rem;
      border-radius: 5px;
      border: 1px solid #bdbdbd;
      padding: 0.5rem 1rem;
    }

    & .approved {
      text-align: center;
      font-size: 0.8rem;
      gap: 0.5rem;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      color: #2d794b;
      background-color: #b6fdd4;
    }
    & .wait_approved {
      text-align: center;
      font-size: 0.8rem;
      gap: 0.5rem;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      background-color: #d22b2b;
      color: white;
    }
  }

  & .phone_line {
    display: flex;
    width: 100%;
    gap: 0.5rem;

    & .phone_number {
      width: 100%;
    }
    & .lineid {
      width: 100%;
    }
  }
}

/* ----------- NOT_LOGIN ---------- */
.not-login {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  outline: none;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  background-color: white;
  transition: all 0.25s;

  &:hover {
    background-color: #f5f4f4;
  }

  .ilogion {
    font-size: 1.1rem;
  }
}
