.notification_page {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}
.notification_header {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  color: #1f2328;
  padding: 0.3rem 0.8rem;
  font-size: 1.15rem;
}
.notification_section {
  padding: 0 0.7rem;
  gap: 1rem;
  width: 100%;
  max-width: 750px;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
  margin: 1rem auto;
}
/* สำหรับเบราว์เซอร์ Webkit เช่น Chrome, Safari */
.notification_section::-webkit-scrollbar {
  width: 8px; /* ความกว้างของ scrollbar */
}

.notification_section::-webkit-scrollbar-track {
  background: #f1f1f1; /* สีพื้นหลังของ track */
  border-radius: 10px; /* ทำให้ track มีมุมโค้งมน */
}

.notification_section::-webkit-scrollbar-thumb {
  background: #888; /* สีของ scrollbar */
  border-radius: 10px; /* ทำให้ scrollbar มีมุมโค้งมน */
}

.notification_section::-webkit-scrollbar-thumb:hover {
  background: #555; /* สีของ scrollbar เมื่อ hover */
}

.notification {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.75rem;
}

.notification_HEADER_ICON {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.7rem 1.2rem;

  .notification_title {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    color: #1f2328;

    .icon {
      color: #0969da;
      font-size: 1.2rem;
    }

    .titleSN {
      padding-left: 0.75rem;
    }
  }
}

.notification_details {
  line-height: 200%;
  padding: 0.7rem 1.2rem;
  font-size: 0.975rem;
  color: #1f2328;
}

.notification_footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.7rem 1.2rem;
  font-size: 0.94rem;
}

.status_pending {
  font-family: Sarabun-bold;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #e6a611;
  background-color: #f8eec4;
}

.status_approved {
  font-family: Sarabun-bold;
  font-size: 0.8rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  color: #2d794b;
  background-color: #b6fdd4;
}

.notification_not_found {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  .icon {
    font-size: 4rem;
    color: #d0d7de;
    margin: 1rem 0;
  }
  span {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .not_login {
    width: 40%;
    text-align: center;
    margin-top: 1rem;
    background-color: #0969da;
    border: none;
    outline: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    color: #ffffff;

    .text {
      font-size: 0.9rem;
    }
  }
}
