@keyframes Alert {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.toast {
  display: none;
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.toast_content {
  min-width: 350px;
  min-height: 50px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  background-color: #e0f9e1;
  color: #017639;
  border: 1px solid #017639;
  overflow: hidden;
  z-index: 9999;
  animation: Alert 0.3s;
  position: relative;
}

.toast_content.error {
  background-color: #fddede; /* สีพื้นหลังที่แสดงถึงข้อผิดพลาด */
  color: #a94442; /* สีข้อความที่ตัดกับพื้นหลัง */
  border: 1px solid #a94442; /* สีของกรอบที่เน้นข้อผิดพลาด */
}

.toast.active {
  display: flex;
}

.toast.hide {
  animation: AlertEnd 0.3s forwards; /* Ending animation */
}

.toast_content .check {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #198754;
  color: #fff;
  border-radius: 50%;
}

.toast_content .check.error {
  background-color: #e74c3c;
}

.toast_content .toast_content_message {
  align-items: center; 
  margin: 0 20px;
}

.toast_content .toast_content_message .text {
  font-size: 0.9rem;
  font-family: Sarabun-bold;
}

.toast_content .close {
  font-size: 0.75rem;
  padding: 0 1rem;
  cursor: pointer;
  opacity: 0.7;
}

.toast_content .close:hover {
  opacity: 1;
}

.toast_content .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ddd;
}

.toast_content .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #198754; /* Green background color */
}

.toast_content .progress.error:before {
  background-color: red; /* Red background color */
}

.toast .progress.active:before {
  animation: progress 3s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
