.profile_user {
  width: 100%;
  max-width: 1100px;
  margin: 2.5rem auto;
  gap: 1rem;
}

.profile_user_header {
  font-size: 1.05rem;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .HEADER_USER_1 {
    display: flex;
    align-items: center;
    gap: 1rem;

    .historyBACK {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8f8f8f;
      background-color: #f6f8fa;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: all 0.25s;

      &:hover {
        background-color: #d0d7de;
        color: #000000;
      }
    }
  }

  form a {
    display: flex;
    align-items: center;
    font-size: 0.925rem;
    color: #007bff;
    font-family: Sarabun-bold;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
}

.profileUSER {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.detailsUSER {
  width: 100%;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.UserHistoryLogin {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile_userHeader {
  padding: 0rem 1rem;
  font-size: 1.025rem;
  color: #1f2328;
}

.profile_user_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #d0d7de;
}

.user_info_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user_info_label {
  color: #333;
  flex: 1;
}

.user_info_value {
  flex: 2;
  text-align: right;
  color: #555;
}

.status {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
}

.wait_approved {
  font-family: Sarabun-bold;
  color: #d9534f;
}

.approved {
  font-family: Sarabun-bold;
  color: #5cb85c;
}

.profile_user_notification_body {
  border-radius: 5px;
  border: 1px solid #d0d7de;
  gap: 1rem;
  width: 100%;
  max-height: 40vh;
  overflow: hidden;
  overflow-y: auto;
}
/* สำหรับเบราว์เซอร์ Webkit เช่น Chrome, Safari */
.profile_user_notification_body::-webkit-scrollbar {
  width: 8px; /* ความกว้างของ scrollbar */
}

.profile_user_notification_body::-webkit-scrollbar-track {
  background: #f1f1f1; /* สีพื้นหลังของ track */
  border-radius: 10px; /* ทำให้ track มีมุมโค้งมน */
}

.profile_user_notification_body::-webkit-scrollbar-thumb {
  background: #888; /* สีของ scrollbar */
  border-radius: 10px; /* ทำให้ scrollbar มีมุมโค้งมน */
}

.profile_user_notification_body::-webkit-scrollbar-thumb:hover {
  background: #555; /* สีของ scrollbar เมื่อ hover */
}

.profile_user_notification_stack {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #ddd;
}

.editProfile {
  margin: 2rem auto;
  width: 100%;
  max-width: 700px;
}

.edit_profile_header {
  padding: 0 0.5rem;
  font-size: 1.025rem;
  color: #1f2328;
}

.edit_profile_body {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #d0d7de;
}

.input_edit {
  width: 100%;
  margin-bottom: 1.4rem;
}

.input_edit span {
  display: block;
  padding-left: 0.4rem;
  margin-bottom: 5px;
  color: #333;
}

.input_edit input,
.input_edit select {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 1rem;
  color: #000;
}
.show_password {
  position: relative;
}

.icon_password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
.columnData {
  width: 100%;
  font-size: 1.025rem;
  display: flex;
  column-gap: 1rem;
}
input:focus,
select:focus {
  border: 1px solid rgb(0, 119, 255);
}

.edit_profile_footer {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.edit_profile_footer .submit {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #fff;
  background-color: rgb(30, 124, 248);
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background-color: rgb(0, 86, 199);
  }
}

.edit_profile_footer .cancel {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #ff0c0c;
  color: #fff;
  font-size: 0.8rem;
  transition: all 0.25s;

  &:hover {
    background-color: #df0000;
  }
}
