.reservation_details {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 2.5rem auto;
}

.reservation_details_header {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  color: #1f2328;
  padding: 0.3rem 1.2rem;
  gap: 0.75rem;

  .historyBACK {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      background-color: #d0d7de;
      color: #000000;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
  margin-bottom: 20px;

  a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #8f8f8f;
    background-color: #f6f8fa;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.25s;

    &:hover {
      background-color: #ddd;
      color: #000000;
    }
  }

  .navigationCENTER {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1.025rem;
      font-family: Sarabun-bold;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      padding: 0.4rem;
      border-radius: 5px;
      font-size: 1rem;
      color: #8f8f8f;
      background-color: #f6f8fa;
      text-decoration: none;
      font-size: 1rem;
      transition: all 0.25s;

      &:hover {
        background-color: #ddd;
        color: #000000;
      }
    }
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.8rem;
  margin: 2rem 0;
}
.calendar .day-name {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
}

.calendar .day {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  height: 9vh;
}

.calendar .day-name {
  background-color: #f0f0f0;
  font-family: Sarabun-bold;
  text-align: center;
}

.calendar .day .date {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: Sarabun-bold;
}

.calendar .day .reservation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-size: 1.5rem;
    color: red;
  }
}

.calendar .day.today {
  background-color: #01bdb6;
  border: 1px solid #01bdb6;
}

/* --------------- DETAILS -------------- */
.bookingTable_content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.bookingDetails_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  overflow: hidden;
}

.reservation-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d0d7de;

  &:last-child {
    border-bottom: none;
  }
}

.reservationIcon {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 1.2rem;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
  color: #1f2328;
}

.reservetionDetails,
.reservetionDetails_Date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.7rem 1.2rem;

  a {
    color: #0969da;
    text-decoration: none;
  }
}
