@keyframes movingY {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
}

.show_password {
  position: relative;
}

.icon_password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}

.register_layout {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 3rem;
}

.register_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
}

.register_page {
  width: 100%;
  border: 1px solid #d0d7de;
  color: #1f2328;
  border-radius: 5px;
  animation: movingY 0.4s ease;
  overflow: hidden;

  .register_page_head {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 1.2rem;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d0d7de;
    font-size: 1.05rem;
    text-align: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8f8f8f;
      background-color: #f6f8fa;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: all 0.25s;

      &:hover {
        background-color: #d0d7de;
        color: #000000;
      }
    }
  }
}

.register_page .register_page_body {
  padding: 0.5rem 1rem;
}

.input_box {
  width: 100%;
  margin: 0.5rem 0;
}
.input_box label {
  font-size: 0.95rem;
  display: block;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}
.input_box input,
.input_box select {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 1rem;
  color: #000;
}
.col {
  display: flex;
  column-gap: 0.75rem;
}
input:focus,
select:focus {
  border: 1px solid rgb(0, 119, 255);
}

/* description */
.description {
  font-size: 0.85rem;
  color: rgb(255, 0, 0);
  margin-top: 3px;
  padding-left: 5px;
}

/* Button */
.btn_section {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 0.75rem;
}
.btn_section_sign_up {
  width: 48%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.btn_section_sign_up .submit {
  width: 100%;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  border: none;
  padding: 0.425rem 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgb(0, 86, 199);
  }
}
.btn_section_sign_up .cancel {
  width: 100%;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.425rem 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(201, 53, 53);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgb(167, 6, 6);
  }
}
