@keyframes movingY {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.show_password {
  position: relative;
}

.icon_password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
body {
  /* background-color: #f9f9f9; */
  background-color: #f0f2f5;
}

.register {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
}

.register_page {
  width: 100%;
  border: 1px solid #c0c0c0; /* สีเส้นขอบที่เข้มขึ้น */
  border-radius: 5px;
  animation: movingY 0.4s ease;
  background-color: #ffffff; /* พื้นหลังของเนื้อหาสีขาว */

  .register_page_head {
    padding: 0.4rem 1rem;
    border-bottom: 1px solid #c0c0c0; /* สีเส้นขอบที่เข้มขึ้น */
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8f8f8f;
      background-color: #ffffff; /* พื้นหลังของลิงก์สีขาว */
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: all 0.25s;

      &:hover {
        background-color: #e0e0e0; /* สีพื้นหลังเมื่อวางเมาส์สีเทาอ่อน */
        color: #000000;
      }
    }
  }
}

.register_page .register_page_body {
  padding: 0.5rem 1rem;
}
.form .form_header {
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-left: 0.5rem;
}

.form .input_box {
  width: 100%;
  margin: 0.545rem 0;
}
.form .input_box span {
  font-size: 0.975rem;
  display: block;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}
.input_box input,
.input_box select {
  position: relative;
  height: 43.5px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 1rem;
  color: #000;
}
.form .col {
  display: flex;
  column-gap: 0.75rem;
}
input:focus,
select:focus {
  border: 1px solid rgb(0, 119, 255);
}

/* description */
.description {
  font-size: 0.85rem;
  color: rgb(255, 0, 0);
  margin-top: 3px;
  padding-left: 5px;
}

/* Button */
.btn_section_sign_up {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.75rem;
  margin-top: 1rem;
}
.btn_section_sign_up .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  border: none;
  padding: 0.45rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: rgb(30, 124, 248);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 0.875rem;

  &:hover {
    background-color: rgb(0, 86, 199);
  }
}
.btn_section_sign_up .cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  border: none;
  padding: 0.45rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: rgb(201, 53, 53);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 0.875rem;

  &:hover {
    background-color: rgb(167, 6, 6);
  }
}
