@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
}
#B {
  font-family: Sarabun-bold;
}
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register_page_body {
  background-color: #707070;
  border-radius: 5px;
  min-width: 500px;
  max-width: 700px;
  width: 100%;
  padding: 20px;
}
.register_page_body .head {
  font-size: 1.5rem;
  color: #333;
  border-bottom: 2px solid gray;
}
.register_page_body .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .7rem 1rem;
}
.register_page_body .pagination .number {
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  background-color: #00aaee;
  color: #FFF;
  font-size: 15px;
}
.register_page_body .pagination .bar {
  width: 50px;
  height: 4px;
  text-align: center;
  border-radius: 5px;
  background-color: #00aaee;
}
.register_page_body .pagination .active ~ div {
  background-color: #ddd;
  color: #111;
}
.register_page_body .steps {
  width: 400%;
  display: flex;
}
.register_page_body  .form {
  display: none;
}
.register_page_body  .form.active {
  display: block;
}
.form .input-box {
  width: 100%;
  margin-top: 5px;
}
.input-box input,
.input-box select {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  color: #707070;
}
.form .col {
  display: flex;
  column-gap: 15px;
}
input:focus,
select:focus {
  border: 2px solid rgb(0, 119, 255);
}

/* description */
.description {
  font-size: 14px;
  font-weight: 550;
  color: red;
}

/* Button */
div.button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 2px solid gray;
}
div.button-1 {
  width: 40%;
}
button.submit {
  outline: none;
  border: none;
  margin-top: 8px;
  margin-left: 12px;
  padding: 10px 5px;
  border-radius: 5px;
  width: 200px;
  color: white;
  background-color: rgb(62, 143, 248);
  transition: all 0.3s;
  cursor: pointer;
}
button.submit:hover {
  background-color: rgb(0, 110, 255);
}

button.reset {
  outline: none;
  border: none;
  margin-top: 8px;
  margin-left: 12px;
  padding: 10px 5px;
  width: 120px;
  border-radius: 5px;
  color: black;
  background-color: #f1d979;
  transition: all 0.3s;
  cursor: pointer;
}
button.reset:hover {
  background-color: #ffd119;
}
button.cancel {
  outline: none;
  border: none;
  margin-top: 8px;
  margin-left: 12px;
  padding: 10px 5px;
  width: 120px;
  border-radius: 5px;
  color: white;
  background-color: rgb(247, 95, 95);
  transition: all 0.3s;
  cursor: pointer;
}
button.cancel:hover {
  background-color: #c50014;
}
