.header_management {
  width: 1400px;
  margin: 3rem auto 1rem auto;
}
/* .header_management {
  display: flex;
  width: 1400px;
  margin: 3rem auto 1rem auto;
} */

.header_management_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
}
.header_name_section {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #fff;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;
    &:hover {
      background-color: #f1efef;
      color: #000000;
    }
  }
}
.choose_categories_btn {
  outline: none;
  border: 1px solid #bbb;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.25s;

  &:hover {
    background-color: #f1efef;
    color: #000000;
  }
}
.btn_management_all {
  display: flex;

  & .btn_management_01 {
    font-size: 0.9rem;
    padding: 0.65rem 1rem;
    border-radius: 6px 0 0 6px;
    transition: all 0.3s;
    border: transparent;
  }

  & .btn_management_02 {
    font-size: 0.9rem;
    padding: 0.65rem 1rem;
    border: transparent;
    transition: all 0.3s;
  }

  & .btn_management_03 {
    font-size: 0.9rem;
    padding: 0.65rem 1rem;
    border-radius: 0 6px 6px 0;
    border: transparent;
    transition: all 0.3s;
  }

  & .active {
    border: 1px solid #01bdb6;
    background-color: #dffffd81;
  }
}
.management_section_btn {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1400px;
  width: 100%;
  margin: 1rem auto;
}
.management_search_header {
  display: flex;
  align-items: center;
}
.top_10_list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top_10_list {
  display: flex;
  width: 100%;
  gap: 1rem; /* ใช้ gap แทน margin */
  justify-content: space-between;
}

.top_10_list_content {
  flex: 1;
  border: 1px solid gray;
  color: #121212;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top_10_list_content .top_10_list_header {
  padding: 0.7rem 1.1rem;
  border-bottom: 1.2px solid gray;
  font-size: 1.1rem;
}

.top_10_list_content .top_10_list_body {
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .top_10_list {
    flex-direction: column;
    align-items: center;
  }

  .top_10_list_content {
    width: 100%;
  }
}
