@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
}
#B {
  font-family: Sarabun-bold;
}

.user_approve_section {
  display: flex;
  width: 1350px;
  margin: 0 auto;
}
.user_approve_data {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}
