@font-face {
  src: url("../fonts/Sarabun-Regular.ttf");
  font-family: Sarabun;
}
@font-face {
  src: url("../fonts/Sarabun-Bold.ttf");
  font-family: Sarabun-bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun;
  text-decoration: none;
  list-style: none;
}
#B {
  font-family: Sarabun-bold;
}
.user_approve_section {
  width: 1400px;
  margin: 0 auto;
  margin-top: 3rem;
}
.user_approve_header_section {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  gap: 1rem;
  font-size: 1.25rem;
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background-color: #fff;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s;
    &:hover {
      background-color: #f1efef;
      color: #000000;
    }
  }
}
.user_approve_section_body {
  margin-top: 2rem;
}
.user_approve_data {
  width: 100%;
  border-collapse: collapse;
}
.user_approve_data_header {
  font-size: 1rem;
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
}
.UID {
  padding-left: 0.75rem;
}
thead {
  tr {
    border: 1px solid #bdbdbd;

    th {
      font-size: 1.2rem;
      text-align: start;
      border-left: none;
      border-right: none;
      border-top: 1.5px solid #bdbdbd;
      border-bottom: 1.5px solid #bdbdbd;
      background-color: #e7e7e7;
      padding: 0.75rem 0;

      &.UID {
        max-width: 7.5%;
        width: 100%;
        padding-left: 0.75rem;
      }

      &.name {
        max-width: 20%;
        width: 100%;
      }

      &.role,
      &.agency,
      &.phone_number,
      &.created_at,
      &.urole,
      &.status {
        max-width: 10%;
        width: 100%;
      }

      &.created_at {
        max-width: 15%;
      }
    }
  }
}

tbody tr {
  font-size: 0.9rem;
  border: 1px solid #dbdbdb;
  border-bottom: 1.5px solid #bdbdbd;
  background-color: #ffffff;
  & td {
    padding: 1rem 0;
  }
}
.btn_appr_section {
  display: flex;
  align-items: center;
  gap: 0.35rem;

  & .approval_user {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #c1f2b0;
    color: green;
    transition: all 0.3s;

    &:hover {
      background-color: #aeff94;
    }
  }

  & .not_approval_user {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: red;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background-color: #a30000;
      color: #ffffff;
    }
  }
  & i {
    font-size: 1rem;
  }
}

.user_approve_not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.user_approve_not_found i {
  font-size: 4rem;
  color: #bdbdbd;
  margin: 1rem 0;
}
.user_approve_not_found span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
